/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

@keyframes zap-border-in {
  0% {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }

  100% {
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 2px;
  }
}

#zap-border {
  z-index: 9999;
  content: "";
  position: fixed;

  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 2px;

  pointer-events: none;
  background-color: transparent;

  outline: 4px solid #dfd43a;
  animation: 0.15s zap-border-in ease-out;

  border-radius: 4px 4px 0 0;
  @media (-moz-platform: macos) {
    border-radius: 8px 8px 0 0;
  }
}

#zen-zap-dissolve-canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 2147483647;
}
