/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */
 
:root {
  --boost-spring-easing: linear(
      0,
      0.0015 0.53%,
      0.0069,
      0.0158,
      0.0279 2.4%,
      0.0631 3.74%,
      0.1119 5.16%,
      0.2201 7.74%,
      0.4761 13.17%,
      0.5914 15.75%,
      0.6983 18.43%,
      0.7872,
      0.861,
      0.9199 26.17%,
      0.9449 27.5%,
      0.9678,
      0.987,
      1.0028 31.78%,
      1.0223 34.09%,
      1.0358 36.58%,
      1.0435 39.25%,
      1.046 42.28%,
      1.0446 44.68%,
      1.0407 47.44%,
      1.0118 61.86%,
      1.0027 69.52%,
      0.9981 80.46%,
      0.9991 99.96%
  );
  --boost-spring-duration: 0.6s;
}

#zen-boost-advanced-color-options-panel {
  color-scheme: light;
  -zen-window-transform-origin: 50% 0%;
  padding: 8px 8px;

  & p {
    color: #3a3a3b;
  }

  & input {
    width: 185px;
    appearance: none !important;
    height: 4px;

    background-color: #b5b5b9;
    border-radius: 2px;

    margin-top: 10px;
  }

  & separator {
    height: 24px !important;
  }

  @media (-moz-platform: macos) {
    &[animate='open'] {
      animation: var(--boost-spring-duration) zen-color-options-panel-animation-macos var(--boost-spring-easing) forwards !important;
    }
  }
}

#zen-boost-advanced-color-options-panel input::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background-color: #e6e5ea;
  border: solid 1px #d1d0d5;
  border-radius: 100%;
}

#zen-boost-advanced-color-options-panel input::-moz-range-thumb:active {
  background-color: #cbcad0;
}

#zen-boost-advanced-color-options-container {
  flex-direction: column;
}
