/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

:root {
  @media (-moz-platform: macos) {
    --panel-border-radius: 10px;

    @media (-moz-mac-tahoe-theme) {
      --panel-border-radius: 12px;
    }
  }
}

#PanelUI-zen-boost-font-arial {
  font-family: Arial, sans-serif;
}

#PanelUI-zen-boost-font-serif {
  font-family: serif;
}

#PanelUI-zen-boost-font-mono {
  font-family: monospace, monospace;
}

#PanelUI-zen-boost-editor-view {
  gap: 10px;
}

#PanelUI-zen-boost-head-wrapper {
  margin-top: -14px;
  margin-bottom: -14px;

  & input {
    height: 26px !important;
  }
}

#PanelUI-zen-boost-font-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
  width: 100%;

  & button {
    padding: auto !important;
    margin: auto !important;
  }
}

#PanelUI-zen-boost-filter-wrapper {
  width: 135px;

  & input {
    height: 26px;

    border: none;
    background-color: transparent;
    outline: none;

    & :active {
      border: solid 1px #ffffff99;
    }
  }

  & button {
    border-radius: 5px;

    padding: 0 !important;
    min-width: fit-content !important;

    border: solid 6px transparent !important;
    width: 26px;
    height: 26px;

    transition: background 0.2s;
    appearance: none;
    color: light-dark(rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.9));

    & .button-text {
      display: none;
    }

    &:hover {
      background: light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
    }

    &[disabled] {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

#zen-boost-editor-root {
  padding: 15px;
}

#PanelUI-zen-boost-delete {
  width: auto;
}

#PanelUI-zen-boost-zap {
  opacity: 0.5 !important;
  cursor: not-allowed !important;
  pointer-events: none !important;
}

#PanelUI-zen-boost-toolbar-wrapper {
  width: auto;
  margin: auto;
  gap: 1.15em;

  & button {
    width: auto;
    height: auto !important;

    padding: 6px 4px 6px 4px;

    background-color: #AAAAAA22;

    margin: auto;
  }
}

.zen-boost-panel-disabled {
  filter: grayscale(1);
}

#PanelUI-zen-boost-filter-wrapper separator {
  height: 5px !important;
}

#PanelUI-zen-boost-toolbar-wrapper button:hover {
  background-color: #ffffff11;
  opacity: 0.9;
}

.zen-boost-button-active {
  background-color: white;
  color: black !important;
}

.zen-boost-button-active:hover {
  background-color: white !important;
}

.zen-boost-color-picker-gradient::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;

  border: 5px solid hsl(100 100% 60%);
  border-image-slice: 1;
  border-image-source: conic-gradient(
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 162, 0, 1) 10%,
    rgba(255, 242, 0, 1) 20%,
    rgba(89, 255, 0, 1) 30%,
    rgba(0, 255, 128, 1) 40%,
    rgba(0, 255, 247, 1) 50%,
    rgba(0, 89, 255, 1) 60%,
    rgba(8, 0, 255, 1) 70%,
    rgba(204, 0, 255, 1) 80%,
    rgba(255, 0, 144, 1) 90%,
    rgba(255, 0, 8, 1) 100%
  );

  pointer-events: none;
}

.zen-boost-color-picker-gradient {
  position: relative;
  overflow: hidden;
  border-radius: calc(var(--panel-border-radius) - 4px);

  width: auto;
  height: 135px;

  margin: 10px 0px 10px 0px;

  min-height: calc(var(--panel-width) - var(--panel-padding) * 2 - 2px);
  background: light-dark(rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.03));
  background-image: radial-gradient(
    light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1)) 1px,
    transparent 0
  );
  background-position: -23px -23px;
  background-size: 6px 6px;

  & .zen-boost-color-picker-circle {
    position: absolute;
    z-index: 1;
    opacity: 0;
    width: 100px;
    height: 100px;

    transform-origin: center center;
    transform: translate(-50%, -50%);

    outline: solid 1px white;
    border-radius: 100%;
  }

  & .zen-boost-color-picker-dot {
    position: absolute;
    z-index: 2;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--zen-theme-picker-dot-color);
    @media (-prefers-color-scheme: dark) {
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    }
    cursor: pointer;
    border: 3px solid #ffffff;
    animation: zen-boost-color-picker-dot-animation 0.5s;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transform-origin: center center;

    &:first-of-type {
      width: 26px;
      height: 26px;
      border-width: 3px;
      z-index: 2;
      pointer-events: all;
      transition: transform 0.2s;
      z-index: 999;
      &:hover {
        transform: scale(1.05) translate(-50%, -50%);
      }
    }

    &[dragging='true'] {
      transform: scale(1.2) translate(-50%, -50%) !important;
    }
  }
}
