/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

#zen-boost-advanced-color-options-panel {
  color-scheme: light;
  -zen-window-transform-origin: 50% 0%;
  padding: 8px 8px;

  & p {
    color: #3a3a3b;
  }

  & input {
    width: 185px;
    appearance: none !important;
    height: 4px;

    background-color: #b5b5b9;
    border-radius: 2px;

    margin-top: 10px;
  }

  & separator {
    height: 24px !important;
  }

  @media (-moz-platform: macos) {
    &[animate='open'] {
      animation: zen-color-options-panel-animation-macos 0.35s cubic-bezier(0.29, 1.37, 0.87, 1)
        forwards !important;
    }
  }
}

#zen-boost-advanced-color-options-panel input::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background-color: #e6e5ea;
  border: solid 1px #d1d0d5;
  border-radius: 100%;
}

#zen-boost-advanced-color-options-panel input::-moz-range-thumb:active {
  background-color: #cbcad0;
}

#zen-boost-advanced-color-options-container {
  display: flex !important;
  flex-direction: column !important;
}
