/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --zen-ctrl-tab-panel-padding: 16px;
  --zen-ctrl-tab-panel-card-inner-padding: 12px;
  --zen-ctrl-tab-panel-card-width: 250px;
  --zen-ctrl-tab-panel-card-height: 220px;
  --zen-ctrl-tab-panel-card-border-radius: 14px;
  --zen-ctrl-tab-panel-thumbnail-border-radius: 8px;
  --zen-ctrl-tab-panel-thumbnail-height: 156px;
  --zen-ctrl-tab-panel-info-height: 52px;
}

#zen-ctrl-tab-panel {
  --panel-padding: var(--zen-ctrl-tab-panel-padding);
  width: fit-content;
  height: fit-content;
}

#zen-ctrl-tab-panel .panel-viewcontainer,
#zen-ctrl-tab-panel .panel-viewstack {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#zen-ctrl-tab-panel-cards {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
  height: var(--zen-ctrl-tab-panel-card-height);
}

.zen-ctrl-tab-panel-card {
  flex-shrink: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: var(--zen-ctrl-tab-panel-card-width);
  height: var(--zen-ctrl-tab-panel-card-height);
  padding: var(--zen-ctrl-tab-panel-card-inner-padding) var(--zen-ctrl-tab-panel-card-inner-padding) 0;
  border-radius: var(--zen-ctrl-tab-panel-card-border-radius);
}

.zen-ctrl-tab-panel-card:hover {
  background: color-mix(in srgb, currentColor 5%, transparent);
}

.zen-ctrl-tab-panel-card.zen-ctrl-tab-panel-selected {
  background: var(--panel-background-color-dimmed);
}

.zen-ctrl-tab-panel-thumbnail {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: var(--zen-ctrl-tab-panel-thumbnail-height);
  border-radius: var(--zen-ctrl-tab-panel-thumbnail-border-radius);
}

.zen-ctrl-tab-panel-no-thumbnail .zen-ctrl-tab-panel-thumbnail {
  outline: 1px solid var(--panel-separator-color);
  outline-offset: -1px;
}

.zen-ctrl-tab-panel-thumbnail img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.zen-ctrl-tab-panel-info {
  padding: 0 5px;
  display: flex;
  align-items: center;
  gap: 12px;
  height: var(--zen-ctrl-tab-panel-info-height);
  color: var(--zen-branding-bg-reverse);
  -moz-text-fill-color: var(--zen-branding-bg-reverse);
}

.zen-ctrl-tab-panel-favicon {
  width: 20px;
  height: 20px;
  -moz-context-properties: fill;
  fill: currentColor;
}

.zen-ctrl-tab-panel-title {
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (-moz-platform: windows) {
  .zen-ctrl-tab-panel-title {
    padding-bottom: 2px;
  }
}

@media (-moz-platform: linux) {
  .zen-ctrl-tab-panel-title {
    padding-top: 1px;
  }
}
