/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --zen-ctrl-tab-panel-thumbnail-height: 156px;
  --zen-ctrl-tab-panel-info-height: 28px;
  --zen-ctrl-tab-panel-padding: 16px;
  --zen-ctrl-tab-panel-card-gap: 12px;
  --zen-ctrl-tab-panel-card-inner-padding: 12px;
  --zen-ctrl-tab-panel-card-width: 250px;
  --zen-ctrl-tab-panel-card-height: 220px;
  --zen-ctrl-tab-panel-card-border-radius: 14px;
  --zen-ctrl-tab-panel-thumbnail-border-radius: 8px;
}

#zen-ctrl-tab-panel {
  --panel-padding: var(--zen-ctrl-tab-panel-padding);
  width: fit-content;
  height: fit-content;

  @media (-moz-platform: linux) {
    animation: none;
    transition: none;
  }
}

#zen-ctrl-tab-panel .panel-viewcontainer,
#zen-ctrl-tab-panel .panel-viewstack {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#zen-ctrl-tab-panel-tabs {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
  height: var(--zen-ctrl-tab-panel-card-height);
}

.zen-ctrl-tab-panel-card {
  flex-shrink: 0;
  width: var(--zen-ctrl-tab-panel-card-width);
  height: var(--zen-ctrl-tab-panel-card-height);
  border-radius: var(--zen-ctrl-tab-panel-card-border-radius);
  padding: var(--zen-ctrl-tab-panel-card-inner-padding);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: var(--zen-ctrl-tab-panel-card-gap);
  box-sizing: border-box;
}

.zen-ctrl-tab-panel-card:hover {
  background: color-mix(in srgb, currentColor 5%, transparent);
}

.zen-ctrl-tab-panel-card.zen-ctrl-tab-panel-selected {
  background: var(--arrowpanel-dimmed);
}

.zen-ctrl-tab-panel-thumbnail {
  width: 100%;
  height: var(--zen-ctrl-tab-panel-thumbnail-height);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  border-radius: var(--zen-ctrl-tab-panel-thumbnail-border-radius);
  border: 1px solid var(--panel-separator-color);
  box-sizing: border-box;
}

.zen-ctrl-tab-panel-card:not(.zen-ctrl-tab-panel-no-thumbnail) .zen-ctrl-tab-panel-thumbnail {
  border: none;
}

.zen-ctrl-tab-panel-thumbnail image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  border-radius: var(--zen-ctrl-tab-panel-thumbnail-border-radius);
}

.zen-ctrl-tab-panel-card.zen-ctrl-tab-panel-selected:is(.zen-ctrl-tab-panel-pending, .zen-ctrl-tab-panel-no-thumbnail) .zen-ctrl-tab-panel-thumbnail {
  background: transparent;
}

.zen-ctrl-tab-panel-info {
  padding: 0 5px;
  display: flex;
  align-items: center;
  gap: 6px;
  height: var(--zen-ctrl-tab-panel-info-height);
  color: var(--zen-branding-bg-reverse);
  -moz-text-fill-color: var(--zen-branding-bg-reverse);
}

.zen-ctrl-tab-panel-favicon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  -moz-context-properties: fill;
  fill: currentColor;
}

.zen-ctrl-tab-panel-title {
  flex: 1;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
