/* Styles for both vertical and horizontal tabs */
@import url('chrome://browser/content/zen-styles/zen-tabs/horizontal-tabs.css');
@import url('chrome://browser/content/zen-styles/zen-tabs/vertical-tabs.css');

#zen-tabbox-wrapper {
  position: relative;
}

@media (-moz-bool-pref: 'zen.workspaces.hide-default-container-indicator') {
  .tabbrowser-tab[zenDefaultUserContextId='true'] .tab-context-line {
    display: none !important;
  }
}
