toolbar {
  min-height: 46px;
}

#zen-profile-button {
  & stack {
    padding: 0;
  }

  & .toolbarbutton-badge {
    display: none !important;
  }

  & stack {
    width: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
    height: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
    display: flex;
    justify-content: center;
    align-items: center;

    & > image {
      width: 0;
    }
  }

  & #zen-profile-button-icon {
    width: 16px;
    height: 16px;
    list-style-image: var(--avatar-image-url);
    border-radius: 50%;
    pointer-events: none;
    list-style-image: var(--avatar-image-url);
    -moz-context-properties: fill;
    fill: currentColor;
  }
}

@media not (-moz-bool-pref: 'zen.view.sidebar-expanded.show-button') {
  #zen-expand-sidebar-button {
    display: none !important;
  }
}

/*#zen-profile-button::before {
  background: transparent;
  border-radius: 50%;
  border: 3px solid var(--zen-colors-border);
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(2 * var(--toolbarbutton-inner-padding) + 16px - 8px - var(--toolbarbutton-inner-padding));
  height: calc(2 * var(--toolbarbutton-inner-padding) + 16px - 8px - var(--toolbarbutton-inner-padding));
}*/

/* Bookmarks sidebar */
#zen-tabbox-wrapper {
  & #sidebar-splitter {
    opacity: 0;
    margin-inline-end: -4px;
  }

  & #sidebar-box {
    border-radius: var(--zen-border-radius);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: var(--zen-element-separation);
    overflow: hidden;
    border: 1px solid var(--zen-colors-border);

    :root:has(#navigator-toolbox:not([zen-right-side='true'])) &[positionend='true'] {
      margin-right: var(--zen-element-separation);
    }

    :root:has(#navigator-toolbox[zen-right-side='true']) & {
      margin-left: var(--zen-element-separation);
    }
  }
}

/* Menubar */
#toolbar-menubar {
  display: none !important;
}
