/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */
:root:not([inDOMFullscreen='true']):not([chromehidden~='location']):not([chromehidden~='toolbar']) {
  & #tabbrowser-tabbox #tabbrowser-tabpanels .browserSidebarContainer {
    width: -moz-available;
    border-radius: var(--zen-native-inner-radius);
    position: relative;

    overflow: hidden;

    :root:not([zen-no-padding='true']) & {
      box-shadow: var(--zen-big-shadow);
    }
  }

  @media (-moz-bool-pref: 'zen.view.experimental-rounded-view') {
    #tabbrowser-tabpanels {
      mix-blend-mode: multiply;
      -moz-osx-font-smoothing: grayscale;
      isolation: isolate;
    }
  }
}
