/* Screenshots */

#screenshotsPagePanel {
  position: absolute !important;
  top: 3%;
  right: 1.5%;
}

/* Watermark */

#zen-watermark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--zen-main-browser-background);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#zen-watermark image {
  opacity: 0.2;
  filter: grayscale(100%);
  width: 200px;
  height: 200px;
}

#zen-watermark[hidden='true'] {
  transition: 0.6s;
  opacity: 0;
  pointer-events: none;
}

#zen-workspaces-button .zen-workspace-sidebar-name {
  margin-left: 10px;
  display: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media not (-moz-bool-pref: 'zen.watermark.enabled') {
  #zen-watermark {
    display: none;
  }
}
