panel[type='arrow'][animate][animate='open'] {
  animation: zen-jello-animation 0.2s ease-in-out;
}

panel[type='arrow'][animate]:not([animate='open']) {
  animation: zen-jello-out-animation 0.2s ease-in-out;
}
