:root:not([inDOMFullscreen='true']):not([chromehidden~='location']):not([chromehidden~='toolbar']) {
  & #tabbrowser-tabbox #tabbrowser-tabpanels .browserSidebarContainer {
    width: -moz-available;
    box-shadow: 0 0 0 1px var(--zen-colors-border);
    clip-path: inset(-5px -5px -5px round var(--zen-webview-border-radius, var(--zen-border-radius)));
    border-radius: var(--zen-webview-border-radius, var(--zen-border-radius));
    transform: translate3d(0, 0, 0);
    overflow: hidden;

    /* This fixes an issue with the left border */
    margin-left: 2px;
  }
}
