#browser,
#appcontent,
#tabbrowser-tabpanels {
  background: transparent !important;
}

#navigator-toolbox {
  /* see issue #426 */
  background: var(--zen-navigator-toolbox-background, transparent) !important;
  --inactive-titlebar-opacity: 1;
}

#tabbrowser-tabpanels {
  padding-right: var(--zen-element-separation);
  padding-bottom: var(--zen-element-separation);
}

#browser {
  width: 100%;
}

:not([inDOMFullscreen='true']) #appcontent {
  overflow: hidden;
}

:not([inDOMFullscreen='true']) #appcontent,
#sidebar-box {
  /** Sidebar is already hidden in full screen mode */
  border: none;
}

#zen-main-app-wrapper {
  background: var(--zen-main-browser-background);
}

#tabbrowser-tabbox {
  display: flex;
  flex-direction: row;
}

/* Notification Stack */

.notificationbox-stack {

  &[notificationside="top"] {
    position: absolute;
    bottom: 0;
    right: 0;
    width: fit-content;
    max-width: 30rem !important;

    & notification-message {
      background: var(--zen-colors-tertiary);
      border-left: 1px solid var(--arrowpanel-border-color);
      border-top-left-radius: var(--zen-border-radius);

      &::before {
        display: none;
      }
    }
  }
}