/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

@namespace html 'http://www.w3.org/1999/xhtml';
@namespace xul 'http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul';

/** This file is used to override UI inside "common-shared.css" */

/** These types of buttons look INSAINELY bad in the preferences page */
xul|button {
  border-radius: var(--zen-button-border-radius) !important;
  padding: var(--zen-button-padding) !important;
  transition: 0.1s;
  min-width: 100px !important;
  font-weight: 500 !important;
}

button:active {
  transform: scale(0.95);
}

html|button:not(:is(.tab-button, .ghost-button, .button-toggle, .button-edit, .button-add, )),
xul|button:is(.expander-down) {
  transition: 0.2s;
  min-width: unset !important;
  border-radius: 6px !important;
}

@media (-moz-bool-pref: 'zen.theme.pill-button') {
  :host(:is(.anonymous-content-host, notification-message)),
  :root {
    --zen-button-border-radius: 20px;
  }
}
