/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */
@keyframes zen-jello-animation {
  0% {
    transform: scale3d(0.8, 0.8, 0.8);
  }

  60% {
    transform: scale3d(1.02, 1.02, 1.02);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes zen-jello-animation-alt {
  0% {
    transform: scale3d(0.8, 0.8, 0.8);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes zen-jello-animation-large {
  0% {
    transform: scale3d(0.8, 0.8, 0.8);
  }

  60% {
    transform: scale3d(1.02, 1.02, 1.02);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes zen-theme-picker-dot-animation {
  from {
    transform: scale(0.8) translate(-50%, -50%);
  }
  50% {
    transform: scale(1.2) translate(-50%, -50%);
  }
  to {
    transform: scale(1) translate(-50%, -50%);
  }
}

@keyframes zen-main-app-wrapper-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes zen-jello-out-animation {
  0% {
    transform: scale3d(1, 1, 1);
  }

  60% {
    transform: scale3d(1.02, 1.02, 1.02);
  }

  99% {
    opacity: 0;
    transform: scale3d(0.8, 0.8, 0.8);
  }

  100% {
    -moz-window-transform: none;
    transform: none;
  }
}

@keyframes zen-deck-fadeIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes better-sidebar-pinned-hide {
  0% {
    opacity: 1;
    transform: scale(1) rotateX(0deg);
  }

  100% {
    transform: scale(0.99) rotateX(-5deg);
    opacity: 0;
  }
}

@keyframes better-sidebar-pinned-show {
  0% {
    opacity: 0;

    transform: scale(0.99) rotateX(-5deg);
  }

  100% {
    transform: scale(1) rotateX(0deg);
    opacity: 1;
  }
}

@keyframes better-sidebar-hide {
  0% {
    opacity: 1;

    transform: scale(1) rotateX(0deg);
  }

  100% {
    transform: scale(0.99) rotateX(-5deg);
    opacity: 0;
  }
}

@keyframes better-sidebar-show {
  0% {
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes better-sidebar-intro-show {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes zen-vtabs-animation {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }

  20% {
    opacity: 1;
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes zen-sidebar-panel-animation-right {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }

  20% {
    opacity: 1;
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes zen-sidebar-panel-animation-reverse {
  0% {
    opacity: 1;
    transform: translateX(0) scale3d(1, 1, 1);
  }

  99% {
    opacity: 0;
    transform: translateX(-50px) scale3d(0.95, 0.95, 0.95);
  }

  100% {
    display: none !important;
  }
}

/* Mark: Zen Glance */
@keyframes zen-glance-overlay-animation {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zen-glance-overlay-animation-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes zen-rice-form-out {
  0% {
    transform: translateX(0);
    max-height: 350px;
    opacity: 1;
    position: relative;
  }

  50% {
    transform: translateX(-100%);
    opacity: 0;
    position: relative;
  }

  99% {
    transform: translateX(-100%);
    opacity: 0;
    max-height: 15px;
    position: relative;
  }

  100% {
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }
}

@keyframes zen-rice-form-in {
  0% {
    position: absolute;
    transform: translateX(100%);
    opacity: 0;
  }

  99% {
    position: absolute;
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    position: relative;
  }
}

@keyframes zen-rice-form-in-2 {
  from {
    opacity: 0;
    transform: translateX(100%);
    max-height: 50px;
  }

  to {
    opacity: 1;
    transform: translateX(0);
    max-height: 450px;
  }
}

@keyframes zen-rice-submit-animation {
  /* Scale and shake the dialog */
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
