@keyframes zen-jello-animation {
  0% {
    transform: scale3d(0.8, 0.8, 0.8);
  }

  60% {
    transform: scale3d(1.02, 1.02, 1.02);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes zen-jello-out-animation {
  0% {
    transform: scale3d(1, 1, 1);
  }

  60% {
    transform: scale3d(1.02, 1.02, 1.02);
  }

  99% {
    opacity: 0;
    transform: scale3d(0.8, 0.8, 0.8);
  }

  100% {
    -moz-window-transform: none;
    transform: none;
  }
}

@keyframes zen-slide-in {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes zen-deck-fadeIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zen-sidebar-panel-animation {
  0% {
    opacity: 0;
    transform: scale3d(0.9, 0.9, 0.9);
  }

  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes zen-sidebar-panel-animation-2 {
  0% {
    opacity: 1;
    transform: translateX(-50px);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes zen-vtabs-animation {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }

  20% {
    opacity: 1;
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes zen-sidebar-panel-animation-right {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }

  20% {
    opacity: 1;
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes zen-sidebar-panel-animation-reverse {
  0% {
    opacity: 1;
    transform: translateX(0) scale3d(1, 1, 1);
  }

  99% {
    opacity: 0;
    transform: translateX(-50px) scale3d(0.95, 0.95, 0.95);
  }

  100% {
    display: none !important;
  }
}

@keyframes zen-workspaces-button-active {
  from {
    bottom: -20px;
  }

  to {
    bottom: -2px;
  }
}

@keyframes zen-workspaces-button-active-collapsed-left {
  from {
    left: -20px;
  }

  to {
    left: -2px;
  }
}

@keyframes zen-workspaces-button-active-collapsed-right {
  from {
    right: -20px;
  }

  to {
    right: -2px;
  }
}
