#zen-media-controls-toolbar {
  --progress-height: 5px;
  --button-spacing: 2px;

  display: flex;
  justify-content: space-between;
  min-width: 0;
  background: transparent;
  container-type: inline-size;

  .toolbarbutton-1 {
    border-radius: 5px;
    color: white;
  }

  #zen-media-prev-button,
  #zen-media-play-pause-button,
  #zen-media-next-button {
    margin: 0;
  }

  image.toolbarbutton-icon {
    padding: 5px;
    width: 26px;
    height: 26px;
  }

  #zen-media-progress-bar {
    appearance: none;
    width: 100%;
    height: var(--progress-height);
    margin: 0 8px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: height 0.15s ease-out;

    &::-moz-range-track {
      background: var(--zen-colors-border);
      border-radius: 999px;
      height: var(--progress-height);
    }

    &::-moz-range-progress {
      background: var(--zen-primary-color);
      border-radius: 999px;
      height: var(--progress-height);
    }

    &::-moz-range-thumb {
      background: var(--zen-primary-color);
      border: none;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  &:hover {
    & #zen-media-main-vbox {
      gap: 6px;
    }

    .show-on-hover {
      &:not(#zen-media-progress-hbox) {
        margin: 2px 6px;
      }

      max-height: 50px;
      margin-bottom: 0;
      opacity: 1;
      transform: translateY(0);
    }
  }

  #zen-media-focus-button {
    align-self: center;
    transition:
      opacity 0.2s ease,
      transform 0.2s ease;

    @container (max-width: 185px) {
      width: 0;
      height: 0;
      opacity: 0;
      padding: 0;
      margin-right: -20px;
      transform: translateX(-20px);
      transition: margin 0.15s ease-in-out;
    }

    @container (min-width: 185px) {
      opacity: 1;
      transform: translateX(0);
    }
  }

  toolbaritem {
    flex-grow: 1;
    padding: 0;
    transition: padding 0.3s ease-out;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 4px;
    border-radius: var(--border-radius-medium);
    background: light-dark(rgb(255, 255, 255), rgb(11, 11, 11)) !important;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }

  .show-on-hover {
    max-height: 0;
    opacity: 0;
    transform: translateY(5px);

    &:not(#zen-media-progress-hbox) {
      margin: 0 6px;
    }

    transition:
      max-height 0.1s ease-in-out,
      opacity 0.1s ease-in-out,
      transform 0.05s ease-in-out,
      margin 0.15s ease-in-out;
  }

  #zen-media-current-time,
  #zen-media-duration {
    margin: 0;
    font-size: x-small;
    opacity: 0.7;
    font-weight: 500;
  }
}

@keyframes zen-media-controls-show {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#zen-media-controls-toolbar {
  display: none;
  animation: none;
  transition: none;

  &:not([hidden]) {
    animation: zen-media-controls-show 0.2s ease-out;
    display: flex;
    height: 2.5rem;
    overflow: visible;
    position: relative;
    z-index: 2;
  }
}

#zen-media-service-title,
#zen-media-title,
#zen-media-artist {
  white-space: nowrap;
  width: 0;
  margin-left: 0;
}

#zen-media-service-title {
  align-self: center;
  font-size: 13px;
  margin-left: 6px;

  & label {
    margin: 0;
  }

  & .tld {
    opacity: 0.5;
  }
}

#zen-media-title,
#zen-media-artist {
  align-self: start;
}

#zen-media-artist {
  opacity: 0.7;
  font-weight: 500;
  font-size: smaller;
}

#zen-media-title {
  height: 16px;
  font-size: math;
  font-weight: bold;
}

#zen-media-main-vbox,
#zen-media-service-hbox,
#zen-media-info-vbox,
#zen-media-progress-hbox {
  width: 100%;
}

#zen-media-service-hbox {
  margin-top: 6px;
}

#zen-media-info-vbox {
  & label {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

#zen-media-main-vbox {
  height: 100%;
  justify-content: space-between;
  overflow: hidden;
  transition: gap 0.1s ease-out;
  transition-delay: 0.1s;
  gap: 0px;
}

#zen-media-progress-hbox {
  flex-grow: 1;
  height: 1.1rem;
  align-items: center;
  padding-inline: 6px;
  margin-right: 0;
  margin-left: 0;
}

#zen-media-controls-hbox {
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  overflow: hidden;
  --toolbarbutton-outer-padding: 0;
}

#zen-media-service-button {
  align-items: center;

  & image {
    width: 16px;
    height: 16px;
    border-radius: 4px;
  }
}

:root:not([zen-sidebar-expanded='true']) {
  #zen-media-controls-toolbar {
    display: none;
  }
}
