/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

/** Zen Decks - ONLY USED FOR SPLIT VIEWS, DO NOT USE THIS CLASS FOR ANY OTHER PURPOSE **/

#tabbrowser-tabpanels[zen-split-view='true'] {
  display: flex;
  flex-direction: row;
}

#tabbrowser-tabpanels[zen-split-view='true'] > *:not([zen-split='true']) {
  flex: 0;
  margin: 0;
}
#zen-splitview-dropzone {
  border-radius: var(--zen-webview-border-radius, var(--zen-border-radius));
  transition: inset ease-out .08s;
  display: none;
  background-color: color-mix(in srgb, var(--zen-colors-secondary) 30%, transparent 70%);
}
#zen-splitview-dropzone[enabled='true'] {
  display: initial;
}

#tabbrowser-tabpanels[zen-split-view='true'] > [zen-split='true'], #zen-splitview-dropzone {
  flex: 1;
  margin: calc(var(--zen-split-column-gap) / 2) calc(var(--zen-split-row-gap) / 2);
  position: absolute !important;
  overflow: hidden;
}

#tabbrowser-tabpanels[zen-split-view='true'] > [zen-split-anim='true'] {
  animation: zen-deck-fadeIn 0.2s forwards ease-in-out;
}

#tabbrowser-tabpanels[zen-split-view='true']:not([zen-split-resizing]) > [zen-split-anim='true'] {
  transition: inset 0.08s ease-out;
  & browser {
    transition: opacity 0.2s ease-out;
  }
}

#tabbrowser-tabpanels[zen-split-view='true'] .browserSidebarContainer.deck-selected {
  --uc-tweak-rounded-corners-shadow-color: var(--zen-primary-color) !important;
}

#tabbrowser-tabbox {
  --zen-split-row-gap: calc(var(--zen-element-separation) + 2px);
  --zen-split-column-gap: calc(var(--zen-element-separation) + 1px);
}

#tabbrowser-tabpanels:has(> [zen-split='true']), #zen-splitview-overlay {
  margin-right: calc(var(--zen-element-separation) - var(--zen-split-row-gap)/2);
  margin-bottom: calc(var(--zen-element-separation) - var(--zen-split-column-gap)/2);

  margin-left: calc(var(--zen-split-row-gap)/-2);
  margin-top: calc(var(--zen-split-column-gap)/-2);

  @media (-moz-bool-pref: 'zen.view.compact') {
    :root:not([customizing]) & {
      @media (-moz-bool-pref: 'zen.view.compact.hide-tabbar') {
        & {
          margin-left: 0;
        }
      }

      @media (-moz-bool-pref: 'zen.view.compact.hide-toolbar') {
        & {
          margin-top: 0;
        }
      }
    }
  }
}

#tabbrowser-tabpanels[zen-split-view] {
  .zen-split-view-splitter {
    display: inherit;
  }
}

#zen-splitview-overlay-wrapper {
  position: absolute;
  pointer-events: none;
  padding: inherit;
  inset: 0;
}

#zen-splitview-overlay {
  position: relative;
  flex: 1;
  padding-right: var(--zen-element-separation);
  padding-bottom: var(--zen-element-separation);
  z-index: 2;
}

.zen-split-view-splitter {
  visibility: inherit;
  cursor: ew-resize;
  -moz-subtree-hidden-only-visually: 0;
  position: absolute;
  pointer-events: all;
}

.zen-split-view-splitter[orient='vertical'] {
  width: var(--zen-split-row-gap);
  margin-left: calc(var(--zen-split-row-gap) / -2);
}

.zen-split-view-splitter[orient='horizontal'] {
  height: var(--zen-split-column-gap);
  margin-top: calc(var(--zen-split-column-gap) / -2);
  cursor: n-resize;
}

#zen-split-views-box:not([hidden='true']) {
  display: flex !important;
}

/* Split view panel */

#zenSplitViewModifierViewDefault {
  min-width: 180px;
  min-height: 180px;

  padding: 15px;
  padding-top: 12px;
}

#zenSplitViewModifierContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  gap: 15px;
}

#zenSplitViewModifierContent > vbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

#zenSplitViewModifierContent .zen-split-view-modifier-preview {
  border-radius: 5px;
  border: 1px solid var(--zen-colors-border);
  width: 100px;
  height: 70px;
  overflow: hidden;
  padding: 5px;
  user-select: none;
  font-weight: 500;
}

#zenSplitViewModifierContent .zen-split-view-modifier-preview.active {
  box-shadow: 0 0 0 2px var(--zen-primary-color);
  border-width: 0px;
}

#zenSplitViewModifierContent p {
  margin-top: 5px;
  margin-bottom: 0;
}

#zenSplitViewModifierContent .zen-split-view-modifier-preview {
  & box {
    background-color: var(--zen-colors-secondary);
    border-radius: 3px;
    width: 100%;
    height: 100%;
    transition: .1s;
  }

  &:hover box {
    background-color: var(--zen-primary-color);
  }
}

#zenSplitViewModifierContent .zen-split-view-modifier-preview.hsep {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#zenSplitViewModifierContent .zen-split-view-modifier-preview.hsep box:last-child {
  margin-top: 5px;
}

#zenSplitViewModifierContent .zen-split-view-modifier-preview.vsep box:last-child {
  margin-left: 5px;
}

#zenSplitViewModifierContent .zen-split-view-modifier-preview.grid {
  display: grid;
  grid-template-areas: 'a b' 'c b';
  gap: 5px;
}

#zenSplitViewModifierContent .zen-split-view-modifier-preview.grid box:nth-child(1) {
  grid-area: a;
}

#zenSplitViewModifierContent .zen-split-view-modifier-preview.grid box:nth-child(2) {
  grid-area: b;
}

#zenSplitViewModifierContent .zen-split-view-modifier-preview.grid box:nth-child(3) {
  grid-area: c;
}

#zenSplitViewModifierHeader {
  min-height: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
}

#zenSplitViewModifierEnabledToast {
  display: none;
}

#zenSplitViewModifier:not([has-enabled-realloc])[toast] #zenSplitViewModifierEnabledToast {
  display: revert;
}
