@namespace html 'http://www.w3.org/1999/xhtml';

#zen-workspaces-button {
  justify-content: center;
  align-items: center;
  display: flex;

  position: relative;

  &:not([as-button='true']) {
    --toolbarbutton-hover-background: transparent !important;
    border-radius: var(--zen-button-border-radius) !important;
    background: transparent;
    padding: 5px;
    appearance: unset !important;
    height: fit-content;
    gap: 3px;

    & toolbarbutton {
      margin: 0 !important;
      width: 25px;
      display: flex;
      justify-content: center;
      padding: 0 !important;
      align-items: center;
      position: relative;

      & > * {
        opacity: 0.6;
      }

      @media (-moz-bool-pref: 'zen.workspaces.hide-deactivated-workspaces') {
        &:not([active='true']) {
          &::after {
            content: '';
            position: absolute;
            width: 4px;
            border-radius: 99px;
            height: 4px;
            background: color-mix(in srgb, var(--zen-primary-color) 10%, light-dark(rgba(0,0,0,.4), rgba(255,255,255,.4)) 90%);
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }

          & .zen-workspace-icon {
            display: none;
          }
        }
      }

      @media not (-moz-bool-pref: 'zen.workspaces.hide-deactivated-workspaces') {
        &[active='true']::after {
          content: '';
          position: absolute;
          width: 4px;
          border-radius: 99px;
          height: 4px;
          background: var(--zen-primary-color);
          bottom: -2px;
          left: 50%;
          transform: translateX(-50%);
          animation: zen-workspaces-button-active 0.1s ease-in-out;
        }
      }
    }
  }

  &[as-button='true'] {
    border-radius: var(--tab-border-radius);

    &:hover {
      background: var(--toolbarbutton-hover-background);
    }
  }

  :root:has(#navigator-toolbox:not([zen-expanded='true'])) &[as-button='true'] {
    margin: 0 !important;
    padding: var(--toolbarbutton-inner-padding) !important;
    width: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
    height: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
    border-radius: var(--tab-border-radius) !important;

    &:hover {
      background: var(--toolbarbutton-hover-background) !important;
    }
  }
}

#zen-workspaces-button .zen-workspace-sidebar-wrapper {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

#zen-workspaces-button .zen-workspace-sidebar-name {
  margin-left: 0.2rem;
  display: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 13px;
}

@media (-moz-bool-pref: 'zen.view.sidebar-expanded') {
  /** Keep these selectors in sync with the ones in vertical-tabs.css */
  #navigator-toolbox:is(
      #navigator-toolbox[zen-user-hover='true'][zen-has-hover],
      #navigator-toolbox[zen-user-hover='true'][has-popup-menu],
      #navigator-toolbox[zen-user-hover='true']:focus-within,
      #mainPopupSet[zen-user-hover='true']:has(> #appMenu-popup:hover) ~ toolbox,
      #navigator-toolbox[zen-user-hover='true']:has(*[open='true']:not(tab):not(#zen-sidepanel-button)),
      :not([zen-user-hover='true'])
    ) {
    & #zen-workspaces-button[as-button='true'] {
      width: 100% !important;
      margin: 2px;
      min-width: calc(2 * var(--toolbarbutton-inner-padding) + 16px);
      height: calc(2 * var(--toolbarbutton-inner-padding) + 16px);

      & .zen-workspace-sidebar-wrapper {
        left: calc(var(--toolbarbutton-outer-padding) + 5px);
        width: calc(100% - (var(--toolbarbutton-outer-padding) * 3));
      }
    }

    & #zen-workspaces-button .zen-workspace-sidebar-name {
      display: block;
    }

    & #zen-workspaces-button .zen-workspace-sidebar-icon {
      margin-inline-end: 5px;

      & [no-icon='true'] {
        display: none;
      }
    }

    & #zen-workspaces-button .zen-workspace-sidebar-icon[no-icon='true'] + .zen-workspace-sidebar-name {
      margin-left: 0;
    }

    & #zen-workspaces-button {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: flex;
      gap: 0.5ch;
    }
  }
}

/* Workspaces Panel UI */

#PanelUI-zen-workspaces {
  --panel-width: 320px;
  --panel-padding: 0;
}

#PanelUI-zen-workspaces > panelmultiview {
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
}

#PanelUI-zen-workspaces panelmultiview panelview {
  position: relative;
  padding: 15px;
  width: var(--panel-width);
}

#PanelUI-zen-workspaces-icon-picker toolbarbutton {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 7px;
}

#PanelUI-zen-workspaces-icon-picker toolbarbutton[selected='true'] {
  border-color: var(--zen-colors-secondary);
}

#PanelUI-zen-workspaces-icon-picker toolbarbutton .toolbarbutton-icon {
  display: none;
}

#PanelUI-zen-workspaces-icon-picker toolbarbutton .toolbarbutton-text {
  min-width: unset;
}

#PanelUI-zen-workspaces-icon-picker {
  overflow-x: hidden;
  justify-items: center;
  overflow-y: auto;

  max-width: 290px;
  max-height: 290px;

  &::part(content) {
    padding: 5px;
    display: flex;
    gap: 10px;

    flex-wrap: wrap;
  }
}

#PanelUI-zen-workspaces-list {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

#PanelUI-zen-workspaces-list[empty='true'] {
  font-weight: 600;
  padding: 10px;
  width: 100%;
  text-align: start;
  opacity: 0.5;
}

.PanelUI-zen-workspaces-user-create {
  height: 100%;

  .PanelUI-zen-workspaces-creation-wraper {
    border-radius: 5px;
    border: 1px solid var(--zen-colors-border);

    margin-top: 10px;

    & .PanelUI-zen-workspaces-icons-container {
      padding: 10px 0;
      min-width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 1px solid var(--zen-colors-border);
      margin-right: 2px;
    }

    & html|input {
      border: none;
      outline: none !important;
      width: 100%;
    }
  }
}

#PanelUI-zen-workspaces-list toolbarbutton{
  padding: 5px;
  border-radius: var(--zen-button-border-radius);

  margin-left: 0 !important;
  margin-right: 0 !important;

  display: flex;
  align-items: center;
  position: relative;

  &:first-child {
    margin-top: 10px;
  }

  & .zen-workspace-icon {
    width: 30px;
    height: 30px;
    border-radius: var(--zen-button-border-radius);
    margin-right: 10px;
    border: 1px solid var(--zen-colors-border);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    flex-shrink: 0;
  }

  &[data-usercontextid] .zen-workspace-icon {
    border-color: color-mix(in srgb, var(--identity-tab-color) 40%, transparent 60%);
  }

  & .zen-workspace-name {
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & .zen-workspace-container {
    font-size: 12px;
    opacity: 0.5;
    font-weight: normal;
  }

  & .zen-workspace-actions, .zen-workspace-actions-reorder-icon {
    display: none;
    margin: 0;
    margin-left: auto !important;
  }


  &.zen-workspace-button[active='true'] {
    position: relative;
  }

  &.zen-workspace-button[active='true']::before {
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    width: 4px;
    height: 100%;
    background-color: var(--toolbarbutton-icon-fill-attention);
    border-radius: 5px;
  }
}

.zen-workspace-button.dragging {
  opacity: 0.5;
}

.zen-workspace-button.dragover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--toolbarbutton-icon-fill-attention);
  border-radius: 5px;
}

#PanelUI-zen-workspaces-reorder-mode[active='true'] {
  color: var(--toolbarbutton-icon-fill-attention) !important;
}

#PanelUI-zen-workspaces-list:not([reorder-mode="true"]) toolbarbutton {
  &:hover .zen-workspace-actions,
  & .zen-workspace-actions[active='true'] {
    display: flex;
  }
}

#PanelUI-zen-workspaces-list[reorder-mode="true"] toolbarbutton {
  .zen-workspace-actions-reorder-icon {
    display: flex;
  }
}

#PanelUI-zen-workspaces-view > vbox:nth-child(2) {
  margin-top: 10px;
}

#PanelUI-zen-workspaces-new, #PanelUI-zen-workspaces-reorder-mode {
  margin-left: auto;
  min-height: 1px !important;
  padding: 3px;
  border-radius: 4px;
  width: 20px;
  height: 20px;
}

#PanelUI-zen-workspaces-create-footer,
#PanelUI-zen-workspaces-edit-footer {
  padding-bottom: 0 !important;
  margin-top: 10px;
  margin-left: 0;
  margin-bottom: 0 !important;
  width: 100%;
}

#PanelUI-zen-workspaces-create-footer button[default='true'],
#PanelUI-zen-workspaces-edit-footer button[default='true'] {
  width: 100%;
}
