
/* Styles for both vertical and horizontal tabs */
@import url("chrome://browser/content/zen-styles/zen-tabs/horizontal-tabs.css");
@import url("chrome://browser/content/zen-styles/zen-tabs/vertical-tabs.css");
