:root:not([inDOMFullscreen='true']):not([chromehidden~='location']):not([chromehidden~='toolbar']) {
  & #tabbrowser-tabbox #tabbrowser-tabpanels .browserSidebarContainer {
    width: -moz-available;
    border-radius: var(--zen-webview-border-radius, var(--zen-border-radius));
    transform: translate3d(0, 0, 0);
    position: relative;

    --uc-tweak-rounded-corners-shadow-color: var(--zen-colors-border);

    --uc-tweak-rounded-corners-shadow: 0 0 0 1px var(--uc-tweak-rounded-corners-shadow-color);

    box-shadow: var(--uc-tweak-rounded-corners-shadow) !important;

    /* Use pseudo element overlay to simulate rounded corners, similar to the
     * tab corners, fixes bug with backdrop-filter. */
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: inherit;
      /* Draw toolbar background on the negative corner space, then draw the
       * same shadow from the browser window on top. */
      box-shadow:
        var(--uc-tweak-rounded-corners-shadow, 0 0 transparent),
        0 0 0 16px var(--zen-main-browser-background) !important;
      clip-path: inset(0);
      pointer-events: none;
    }
  }
}
