/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.browserSidebarContainer:has([zen-glance-selected]),
.browserSidebarContainer.zen-glance-overlay {
  visibility: inherit;
}

#zen-glance-sidebar-container {
  position: absolute;
  display: flex;
  z-index: 999;

  &[hidden='true'] {
    display: none;
  }

  top: 10%;
  transform: translateY(-50%);

  padding: 5px;
  gap: 12px;
  left: 2%;

  & toolbarbutton {
    width: 32px;
    height: 32px;
    background: light-dark(rgb(24, 24, 24), rgb(231, 231, 231));
    transition: background 0.2s ease;
    border-radius: 999px;
    appearance: none;
    box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.07);
    opacity: 0;

    &:hover {
      background: light-dark(rgb(41, 41, 41), rgb(204, 204, 204));
    }

    & label {
      display: none;
    }

    & image {
      filter: invert(1);
    }
  }
}

.browserSidebarContainer.zen-glance-overlay {
  box-shadow: none !important;

  & .browserContainer {
    background: var(--zen-dialog-background);
    position: fixed;
    border-radius: var(--zen-native-inner-radius);
    opacity: 0;
    top: 0;
    left: 0;
    flex: unset !important;
    box-shadow: var(--zen-big-shadow);

    &[has-finished-animation='true'] {
      position: relative !important;
      transition: 0s !important;
      transform: none !important;
      margin: auto !important;
      top: 0 !important;
      left: 0 !important;
    }

    & .browserStack {
      border-radius: var(--zen-native-inner-radius);
      overflow: hidden;
    }

    & browser {
      width: 100%;
      height: 100%;
      opacity: 1;
      transition: opacity 0.2s ease-in-out;
    }

    &[animate-full='true'] {
      transform: translate(-50%, -50%);
      & #zen-glance-sidebar-container {
        opacity: 0 !important;
      }
    }

    &[animate='true'] {
      position: absolute;
    }
  }

  &[fade-out='true'] {
    & browser {
      transition: opacity 0.1s ease;
      opacity: 0;
    }
  }

  & browser[animate-glance-open='true'] {
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
  }
}
