/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

#zen-profile-button {
  & stack {
    padding: 0;
  }

  & .toolbarbutton-badge {
    display: none !important;
  }

  & stack {
    width: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
    height: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
    display: flex;
    justify-content: center;
    align-items: center;

    & > image {
      width: 0;
    }
  }

  & #zen-profile-button-icon {
    width: 20px;
    height: 20px;
    list-style-image: var(--avatar-image-url);
    border-radius: 50%;
    pointer-events: none;
    list-style-image: var(--avatar-image-url);
    -moz-context-properties: fill;
    fill: currentColor;
    border: 1px solid var(--zen-colors-border);
  }
}

/* Bookmarks sidebar */
#zen-tabbox-wrapper {
  & #sidebar-splitter {
    opacity: 0;
    margin: 0 calc(-1 * var(--zen-element-separation));
  }

  & #sidebar-box {
    border-radius: var(--zen-native-inner-radius);
    box-shadow: var(--zen-big-shadow);
    overflow: hidden;

    :root:not([zen-right-side='true']) &[positionend='true'] {
      margin-right: var(--zen-element-separation);
    }

    :root[zen-right-side='true'] & {
      margin-left: var(--zen-element-separation);
    }
  }
}

/* Menubar */
#toolbar-menubar {
  display: none !important;
}
