/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */
.dialogBox {
  border-radius: 12px !important;
  border: 0.5px solid light-dark(rgba(0, 0, 0, 0.4), var(--zen-dialog-background)) !important;
  outline: 1px solid light-dark(transparent, rgba(168, 168, 169, 0.50)) !important;
  box-shadow: 0 10px 8px rgba(0, 0 , 0, 0.15) !important;
  outline-offset: -2px;

  @media not (prefers-reduced-motion: reduce) {
    animation: zen-dialog-fade-in 0.3s ease-out;
  }

  .content-prompt-dialog & {
    @media not (prefers-reduced-motion: reduce) {
      animation: zen-dialog-fade-in-shifted 0.3s ease-out;
    }
    transform: translateY(-10%);
  }
}
