/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */
/* All overrides for compact mode go here */

:root[zen-compact-mode='true']:not([customizing]):not([inDOMFullscreen='true']) {
  /* Core styles */
  #urlbar {
    visibility: visible;
  }

  /* Hide elements in compact mode */
  &:not([zen-compact-animating]) {
    #zen-sidebar-splitter {
      display: none !important;
    }

    #zen-tabbox-wrapper {
      margin-left: var(--zen-element-separation) !important;
      margin-right: var(--zen-element-separation) !important;
    }

    #zen-appcontent-wrapper #tabbrowser-tabbox {
      margin-left: 0 !important;
    }

    #zen-sidebar-top-buttons-customization-target {
      padding-inline-start: calc(var(--zen-toolbox-padding) - var(--toolbarbutton-outer-padding)) !important;
    }

    /* Navigation bar positioning */
    &:not([zen-window-buttons-reversed='true']) #zen-appcontent-navbar-wrapper #nav-bar {
      margin-left: var(--zen-element-separation) !important;
    }

    &[zen-window-buttons-reversed='true'] #zen-appcontent-navbar-wrapper #nav-bar {
      margin-right: var(--zen-element-separation) !important;
      margin-left: calc(var(--zen-element-separation) - 3px) !important;
    }

    /* Navigator toolbox styling */
    #navigator-toolbox {
      --zen-toolbox-max-width: 66px;
      --zen-compact-float: var(--zen-element-separation);
      padding: 0 0 0 var(--zen-toolbox-padding) !important;

      &:not([animate='true']) {
        position: fixed;
        z-index: 10;
        transition:
          left 0.15s ease,
          right 0.15s ease,
          visibility 0.15s ease;
        top: 0;
        bottom: var(--zen-element-separation);
        padding: 0 var(--zen-compact-float) !important;
      }

      &:not([zen-right-side='true']) #nav-bar {
        margin-left: 0 !important;
      }
    }

    /* Single toolbar mode adjustments */
    &[zen-single-toolbar='true'] #navigator-toolbox:not([animate='true']) {
      top: calc(var(--zen-element-separation) / 2);
      height: calc(100% - var(--zen-element-separation));
    }

    /* Multi toolbar mode adjustments */
    &:not([zen-single-toolbar='true']) #navigator-toolbox:not([animate='true']) {
      top: calc(var(--zen-element-separation) / -2);
      height: calc(100% - var(--zen-toolbar-height));
    }

    @media (prefers-reduced-motion: no-preference) {
      #navigator-toolbox,
      #zen-appcontent-navbar-wrapper {
        transition-duration: 0.15s;
        transition-timing-function: ease;
      }
    }
  }
}

/* Hide toolbar in compact mode */
@media (-moz-pref('zen.view.compact.hide-toolbar')) {
  :root[zen-compact-mode='true']:not([customizing]):not([inDOMFullscreen='true']) {
    &:not([zen-single-toolbar='true']) #navigator-toolbox:not([animate='true']) {
      height: 100%;
    }
  }
}
