/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */
.zen-download-box-animation {
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--zen-colors-primary);
  border-radius: var(--zen-native-content-radius);
  box-shadow: var(--zen-big-shadow);
  pointer-events: none;
  z-index: 1100;
}

.zen-download-box-animation-icon {
  width: 50%;
  height: 50%;
  background-color: var(--zen-primary-color);
  mask: url('chrome://browser/content/zen-images/downloads/archive.svg') no-repeat center;
  mask-size: contain;
  display: block;
}
