
:root {
  --zen-dialog-background: Field;
  --zen-dialog-border-color: rgb(184, 184, 184);
  --zen-panel-radius: 7px;

  --arrowpanel-background: var(--zen-dialog-background) !important;
  --arrowpanel-border-color: var(--zen-dialog-border-color) !important;
  --arrowpanel-border-radius: var(--zen-panel-radius) !important;

  &:-moz-lwtheme {
    color: var(--lwt-text-color);
    --link-color: light-dark(rgb(0, 97, 224), rgb(0, 221, 255));

    @media not (prefers-contrast) {
      --focus-outline-color: light-dark(rgb(92, 91, 91), rgb(166, 166, 166)) !important;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --zen-dialog-background: rgba(28, 27, 34);
    --zen-dialog-border-color: rgb(66, 66, 66);
  }
}
