
:root {
  --panel-subview-body-padding: 2px 0 !important;
  --arrowpanel-menuitem-border-radius: 5px !important;
  --arrowpanel-menuitem-margin: var(--uc-arrowpanel-menuitem-margin-block) var(--uc-arrowpanel-menuitem-margin-inline) !important;
  --arrowpanel-menuitem-padding-block: 8px !important;
  --arrowpanel-menuitem-padding-inline: 14px !important;
  --uc-arrowpanel-menuicon-margin-inline: 14px;
  --uc-arrowpanel-menuitem-margin-inline: 4px;
  --uc-arrowpanel-menuitem-margin-block: 2px;
  --panel-separator-margin-vertical: 2px !important;
  --panel-separator-margin-horizontal: 1px !important;

  --uc-panel-zoom-button-padding: 8px;
  --uc-panel-zoom-button-inline-padding: 9px;
  --uc-panel-zoom-padding-block: calc(var(--panel-separator-margin-vertical) + var(--uc-arrowpanel-menuitem-margin-block));

  --uc-autocomplete-panel-menuitem-margin: 4px;
  --uc-autocomplete-panel-menuicon-padding-inline: 14px;
  --uc-autocomplete-panel-separator-margin-vertical: 4px;

  --uc-permission-itemcontainer-padding-block: 8px;
  --uc-permission-item-margin-block: 4px;
  --uc-permission-item-padding-inline: 16px;

  --uc-contextmenu-border-radius: 8px;
  --uc-contextmenu-padding: calc(4px - var(--uc-contextmenu-menuitem-border-width)) 0;
  --uc-contextmenu-menuitem-border-radius: calc(4px + var(--uc-contextmenu-menuitem-border-width));
  --uc-contextmenu-menuitem-padding-block: 6px;
  --uc-contextmenu-menuitem-padding-inline: 10px;
  --uc-contextmenu-menuitem-border-width: 2px;
  --uc-contextmenu-menuicon-margin-inline: 12px;
  --uc-contextmenu-menuitem-margin-inline: calc(4px - var(--uc-contextmenu-menuitem-border-width));
  --uc-contextmenu-menuitem-margin-block: 0px;
  --uc-contextmenu-menuitem-margin: var(--uc-contextmenu-menuitem-margin-block) var(--uc-contextmenu-menuitem-margin-inline);
  --uc-contextmenu-separator-vertical: calc(4px - var(--uc-contextmenu-menuitem-border-width));
  --uc-contextmenu-separator-horizontal: 0;

  --panel-separator-color: var(--zen-colors-border) !important;
  --zen-panel-separator-width: 1px;
}

/* app menu */
.addon-banner-item,
.panel-banner-item {
  margin: 2px 4px 2px !important;
  padding-inline: 4px 12px !important;
  padding-block: var(--arrowpanel-menuitem-padding-block) !important;
  border-radius: var(--arrowpanel-menuitem-border-radius) !important;
}

#appMenu-fxa-label2 label,
#PanelUI-fxa-menu-syncnow-button label {
  margin-block: 0 !important;
}

.widget-overflow-list .toolbarbutton-1:not(.toolbarbutton-combined)>.toolbarbutton-text,
.subviewbutton:not(#appMenu-zoom-controls > .subviewbutton)>.toolbarbutton-icon+.toolbarbutton-text,
#appMenu-fxa-label2>vbox {
  padding-inline-start: var(--uc-arrowpanel-menuicon-margin-inline) !important;
}

/* special case menuitems with no icons */
#appMenu-zoom-controls>.toolbarbutton-text,
#fxa-manage-account-button>vbox,
#PanelUI-fxa-menu-syncnow-button>hbox {
  padding-inline-start: calc(16px + var(--uc-arrowpanel-menuicon-margin-inline)) !important;
}

.subviewbutton>.toolbarbutton-icon {
  width: 15px !important;
}

/* firefox profile avatar in appmenu */
#appMenu-fxa-label2::before {
  content: "";
  display: -moz-box;
  height: 16px;
  width: 16px;
  background: var(--avatar-image-url) 0/16px;
  scale: 1.25;
  border-radius: 99px;
}

/* disable proton account separator */
#appMenu-fxa-separator {
  border-image: none !important;
}

#appMenu-fxa-status2:not([fxastatus]) {
  padding-block: 0 !important;
}

#appMenu-fxa-status2:not([fxastatus])>#appMenu-fxa-label2 {
  margin-inline-end: calc(var(--arrowpanel-menuitem-padding-inline) * -1) !important;
}

/* zoom controls */
#appMenu-zoom-controls {
  border-top: 1px solid var(--panel-separator-color) !important;
  padding-inline: calc(var(--arrowpanel-menuitem-padding-inline) + var(--uc-arrowpanel-menuitem-margin-inline)) var(--uc-arrowpanel-menuitem-margin-inline) !important;
  padding-block: var(--uc-panel-zoom-padding-block) !important;
  margin: var(--panel-separator-margin-vertical) 0 calc(var(--panel-separator-margin-vertical) * -1) !important;
}

#appMenu-zoom-controls>.subviewbutton {
  padding: var(--uc-panel-zoom-button-padding) var(--uc-panel-zoom-button-inline-padding) !important;
  margin: 0 !important;
}

#appMenu-zoom-controls>#appMenu-zoomReset-button2 {
  padding: var(--uc-panel-zoom-button-padding) calc(var(--uc-panel-zoom-button-padding) / 2) !important;
}

/* #appMenu-zoomReduce-button2, */
#appMenu-zoom-controls>#appMenu-fullscreen-button2 {
  margin-left: calc((var(--panel-separator-margin-vertical) + var(--uc-arrowpanel-menuitem-margin-block)) * 2 + 1px) !important;
}

#appMenu-zoom-controls>#appMenu-fullscreen-button2::before {
  content: "";
  border-inline-start: 1px solid var(--panel-separator-color);
  display: block;
  position: relative;
  height: 32px;
  margin-block: calc(var(--uc-panel-zoom-button-padding) * -1);
  transform: translateX(calc(var(--uc-panel-zoom-button-inline-padding) * -1 - (var(--panel-separator-margin-vertical) + var(--uc-arrowpanel-menuitem-margin-block)) - 1px));
}

#appMenu-zoomReset-button2 {
  height: calc(16px + var(--uc-panel-zoom-button-padding) * 2) !important;
  min-height: calc(16px + var(--uc-panel-zoom-button-padding) * 2) !important;
}

#appMenu-zoomReduce-button2:not([disabled], [open], :active):is(:hover),
#appMenu-zoomEnlarge-button2:not([disabled], [open], :active):is(:hover),
#appMenu-fullscreen-button2:not([disabled], [open], :active):is(:hover),
#appMenu-zoomReset-button2:not([disabled], [open], :active):is(:hover) {
  background-color: var(--panel-item-hover-bgcolor) !important;
}

#appMenu-zoomReduce-button2:not([disabled]):is([open], :hover:active),
#appMenu-zoomEnlarge-button2:not([disabled]):is([open], :hover:active),
#appMenu-fullscreen-button2:not([disabled]):is([open], :hover:active),
#appMenu-zoomReset-button2:not([disabled]):is([open], :hover:active) {
  background-color: var(--panel-item-active-bgcolor) !important;
}

#appMenu-zoomReset-button2>.toolbarbutton-text,
#appMenu-fullscreen-button2>.toolbarbutton-icon {
  background-color: transparent !important;
  padding: 0 !important;
}

.subviewbutton[shortcut]::after {
  opacity: 0.7 !important;
}

#widget-overflow-mainView .panel-subview-body {
  padding-bottom: 0 !important;
}

.PanelUI-subView>.panel-header+toolbarseparator {
  margin-bottom: 0 !important;
}

.PanelUI-subView>.panel-header+toolbarseparator+.panel-subview-body {
  padding-top: var(--panel-separator-margin-vertical) !important;
}

#identity-popup-security-button {
  margin-bottom: var(--panel-separator-margin-vertical) !important;
}

#permission-popup-mainView-panel-header,
#identity-popup-mainView-panel-header,
#protections-popup-mainView-panel-header,
.panel-header {
  min-height: calc((var(--arrowpanel-menuitem-padding-block) + 4px) * 2 + 16px) !important;
}

/* URL bar popup */

.identity-popup-security-connection>hbox>description {
  margin-inline-start: 0 !important;
}

.identity-popup-security-connection.identity-button {
  margin-inline-end: calc(-1 * (var(--arrowpanel-menuitem-padding-inline) - 10px)) !important;
}

#identity-popup-mainView-panel-header-span,
#permission-popup-mainView-panel-header-span,
#identity-popup-mainView-panel-header label,
#permission-popup-mainView-panel-header label,
#protections-popup-mainView-panel-header-span {
  margin-block: 0 !important;
}

.permission-popup-section {
  padding-block: var(--uc-permission-itemcontainer-padding-block) !important;
}

#permission-popup-permissions-content {
  padding-inline: var(--uc-permission-item-padding-inline) !important;
}

.permission-popup-permission-item,
#permission-popup-storage-access-permission-list-header {
  margin-block: var(--uc-permission-item-margin-block) !important;
}

.permission-popup-permission-label,
.permission-popup-permission-header-label {
  margin-inline-start: var(--uc-arrowpanel-menuicon-margin-inline) !important;
}

#editBookmarkPanel>#editBookmarkHeaderSeparator,
#editBookmarkPanel>.panel-subview-body>#editBookmarkSeparator {
  margin-inline: 0 !important;
}

#identity-popup-mainView > toolbarseparator:first-child,
#unified-extensions-view > toolbarseparator:first-child {
  display: none !important;
  opacity: 0 !important;
}


menupopup::part(content),
panel::part(content) {
  border: var(--zen-appcontent-border) !important;
}

menupopup, 
panel {
  box-shadow: none;
}

/*toolbarbutton:not(:is(
  #appMenu-fxa-label2, 
  .subviewbutton-iconic, 
  .zen-sidebar-action-button, 
  .all-tabs-close-button,
  .zen-sidebar-panel-button,
  #zen-sidebar-web-panel-pinned,
  #PanelUI-zen-profiles-managePrfs,
  .bookmark-item,
  #urlbar-zoom-button,
  .panel-info-button,
)),*/
#PanelUI-zen-profiles menuitem {
  /** ADD HERE ALL TYPES OF BUTTONS THAT WANT TO LOOK CHROME LIKE!!! */
  margin: 0 !important;
  border-radius: 0 !important;
}

.panel-subview-footer-button {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

#PanelUI-zen-profiles menuitem {
  padding: 5px !important;
}

#PanelUI-zen-profiles menuitem:last-child {
  margin-bottom: 5px !important;
}

panelview .unified-extensions-item-action-button {
  padding: 5px 20px !important;
}

#unified-extensions-description {
  padding: 0 20px;
  margin: 0 !important;
}

.unified-extensions-item {
  padding: 0 !important;
}

.panel-subview-footer-button {
  --arrowpanel-menuitem-padding-block: 20px !important;
  --arrowpanel-menuitem-padding-inline: 15px !important;
}

toolbarseparator, menuseparator {
  border-width: var(--zen-panel-separator-width) !important;
}

#appMenu-zoom-controls {
  border-top-width: var(--zen-panel-separator-width) !important;
}

#zenEditBookmarkPanelFaviconContainer {
  border: 1px solid var(--input-border-color);
  width: 100px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
  background: light-dark(#fff, rgba(255,255,255,.1));
}

#editBookmarkPanel::part(content) {
  display: flex;
  flex-direction: row !important;
}

#zenEditBookmarkPanelFavicon {
  width: 20px;
  height: 20px;
}

#editBookmarkPanel .panel-header {
  min-height: 0 !important;
  padding-bottom: 0;
  padding-top: 16px;
}

#editBMPanel_namePicker {
  width: -moz-available;
}

label.editBMPanel_folderRow,
label.editBMPanel_nameRow {
  min-width: 60px;
}

hbox.editBMPanel_folderRow {
  width: -moz-available;
}

.zenEditBMPanel_fieldContainer:not(:first-child) {
  margin-top: 10px;
}

.zenEditBMPanel_fieldContainer {
  align-items: center;
}

#editBookmarkPanelBottomContent {
  display: none;
}

:host(:not([native])) #label-box {
  font-weight: 500 !important;
}

#editBMPanel_folderMenuList::part(icon) {
  margin-right: 10px;
}

/**/

#unified-extensions-manage-extensions {
  padding-left: 20px;
}

#identity-popup-clear-sitedata-footer {
  margin-bottom: 0 !important; 
  padding-top: 0 !important;
}

/* Dialog box */

.printDialogBox {
  max-width: 90vw !important;
}

.printSettingsBrowser {
  min-width: 350px !important;
}

/* Context menu */
menu, menuitem {
  &:where([_moz-menuactive]:not([disabled="true"])) {
    background-color: var(--button-hover-bgcolor);
  }
}

/** Unified Extensions View */

#unified-extensions-view {
  --uei-icon-size: 16px !important;

  .unified-extensions-item {
    margin-block: 0 !important;
    border-radius: var(--arrowpanel-menuitem-border-radius) !important;

    > .unified-extensions-item-action-button {
      .unified-extensions-item-message-deck {
        display: none;
      }

      &:hover {
        background-color: initial !important;
      }
    }

    > .unified-extensions-item-menu-button {
      list-style-image: url("chrome://global/skin/icons/more.svg") !important;
      padding: 0 !important;

      > .toolbarbutton-icon {
        padding: var(--arrowpanel-menuitem-padding-block) var(--arrowpanel-menuitem-padding-inline) !important;
        border: none !important;
        opacity: 0;
      }

      &:hover {

        > .toolbarbutton-icon {
          background-color: initial !important;
        }

        &:active {
          color: var(--button-primary-hover-bgcolor) !important;
        }
      }
    }

    &:hover {
      background-color: var(--panel-item-hover-bgcolor);

      > .unified-extensions-item-menu-button > .toolbarbutton-icon {
        opacity: 1;
      }
    }

    &:has(> .unified-extensions-item-action-button:not([disabled]):hover:active) {
      background-color: var(--panel-item-active-bgcolor);
    }
  }
}
