/* Zen Welcome idalog override */
.dialogBox:not(.spotlightBox) {
  border: 1px solid var(--zen-dialog-border-color);
}

#window-modal-dialog:not([zen-dialog-welcome-element='true']) .dialogBox:not(.spotlightBox) {
  transform: translateY(-9px);
}

#window-modal-dialog[zen-dialog-welcome-element='true'] .dialogBox:not(.spotlightBox) {
  margin: 0 !important;
}

#window-modal-dialog[zen-dialog-welcome-element='true'],
#window-modal-dialog[zen-dialog-welcome-element='true'] .dialogOverlay,
#window-modal-dialog[zen-dialog-welcome-element='true'] .dialogFrame,
#window-modal-dialog[zen-dialog-welcome-element='true'] .dialogBox {
  width: 100% !important;
  height: 100% !important;
  max-height: none !important;
  max-width: none !important;
}

#window-modal-dialog[zen-dialog-welcome-element='true'] {
  --zen-welcome-dialog-space: 7px;
  margin: 0 auto !important;
  max-width: calc(100% - calc(var(--zen-welcome-dialog-space) * 2)) !important;
  max-height: calc(100% - calc(var(--zen-welcome-dialog-space) * 2)) !important;
  margin-top: var(--zen-welcome-dialog-space) !important;
}
