<!--
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="color-scheme" content="light dark">
    <meta name="referrer" content="no-referrer" />

    <link
      rel="stylesheet"
      type="text/css"
      href="chrome://global/skin/in-content/common.css"
    />
    <link rel="stylesheet" href="chrome://global/skin/global.css" />
    <link
      rel="stylesheet"
      href="chrome://browser/content/zen-welcome/welcome.css"
    />

    <link rel="localization" href="branding/brand.ftl" />
    <link rel="localization" href="browser/zen-welcome.ftl" />

    <script src="chrome://browser/content/zenThemeModifier.js"></script>
  </head>
  <body>
    <div id="first-view">
      <div class="page" id="welcome">
        <img class="icon" src="chrome://branding/content/about-logo.png" />
        <h1 data-l10n-id="welcome-dialog-welcome"></h1>
  
        <p data-l10n-id="welcome-dialog-welcome-subtext"></p>
  
        <button
          id="welcomeNext"
          class="primary"
          data-l10n-id="welcome-dialog-get-started"
        ></button>
      </div>
  
      <div class="page page-split" id="import">
        <div>
          <h1 data-l10n-id="welcome-dialog-import"></h1>
          <p data-l10n-id="welcome-dialog-import-subtext"></p>
        </div>
        <div>
          <hbox>
            <button
              class="primary"
              id="importBrowser"
              data-l10n-id="welcome-dialog-import-action"
            ></button>
            <button
              class="text-link ghost-button"
              id="importNext"
              data-l10n-id="welcome-dialog-skip"
            ></button>
          </hbox>
        </div>
      </div>
  
      <div class="page page-split" id="theme">
        <div>
          <h1 data-l10n-id="welcome-dialog-theme"></h1>
          <p data-l10n-id="welcome-dialog-theme-subtext"></p>
        </div>
        <div>
          <h1 data-l10n-id="welcome-dialog-theme-header-1"></h1>
          <div id="themeList" class="cardGroup"></div>
          <h1 data-l10n-id="welcome-dialog-theme-header-2"></h1>
          <div id="colorListWrapper">
            <canvas id="colorList" class="cardGroup"></canvas>
            <div id="dragBall"></div>
            <div id="colorPreview"></div>
          </div>
          <button
            id="themeNext"
            class="primary"
            data-l10n-id="welcome-dialog-theme-action"
          ></button>
        </div>
      </div>
  
      <div class="page page-split" id="search">
        <div>
          <h1 data-l10n-id="welcome-dialog-search"></h1>
          <p data-l10n-id="welcome-dialog-search-subtext"></p>
        </div>
        <div>
          <div id="searchList" class="cardGroup"></div>
          <button
            id="searchNext"
            class="primary"
            data-l10n-id="welcome-dialog-search-action"
          ></button>
        </div>
      </div>
  
      <div class="page" id="thanks">
        <h1 data-l10n-id="welcome-dialog-thanks"></h1>
        <p data-l10n-id="welcome-dialog-thanks-subtext"></p>
        <button
          id="thanksNext"
          class="primary"
          data-l10n-id="welcome-dialog-thanks-action"
        ></button>
      </div>
    </div>

    <div id="second-view">

    </div>

    <div id="dots"></div>

    <script src="./welcome.js"></script>
    <script src="chrome://browser/content/contentTheme.js"></script>
  </body>
</html>
