/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

& g,
& rect,
& path {
  transition:
    transform 0.3s cubic-bezier(0.42, 0, 0, 1),
    opacity 0.3s cubic-bezier(0.42, 0, 0, 1);
}

&[state="open"] .back {
  transform: skewX(16deg) translate(-4px, 2px) scale(0.85);
}

&[state="open"] :is(.front, .dots, .icon) {
  transform: skewX(-16deg) translate(8px, 2px) scale(0.85);
}
