
#navigator-toolbox toolbar#TabsToolbar {
  margin: 10px var(--zen-appcontent-separator-from-window);
}

#PersonalToolbar {
  /*border-top: 1px solid light-dark(#ddd, #4a4a4a);*/
  padding: 5px 0;
  padding-inline: 15px !important;
}

#urlbar {
  border: 1px solid light-dark(#ddd, #4a4a4a);
  border-radius: 999px;
  overflow: hidden;
  padding: 1px 1px;
}

#zen-website-and-native-separator {
  background: light-dark(#ddd, #4a4a4a);
  height: 1px;
  width: 100%;
}

#urlbar[focused="true"] {
  overflow: visible;
}

#urlbar[focused="true"] > #urlbar-background,
#searchbar:focus-within {
  box-shadow: none !important;
}

#urlbar[focused="true"]:not([suppress-focus-border]) > #urlbar-background,
#searchbar:focus-within {
  outline: none !important;
  outline-offset: none !important;
  outline-color: none !important;
  border-color: var(--zen-appcontent-separator-from-window);
}
