
/** Zen Decks - ONLY USED FOR SPLIT VIEWS, DO NOT USE THIS CLASS FOR ANY OTHER PURPOSE **/

.zen-deck {
  display: grid;
  position: absolute;
  width: 100%;
  height: 100%;
}

.zen-deck:not(.deck-selected) {
  z-index: -1;
  visibility: hidden;
}
