
#zen-sidebar-panels-wrapper {
  /*min-height: 500px;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

#zen-sidebar-panels-sites {
  background: transparent;
  max-width: 1px;
  display: flex;
}

#zen-sidebar-add-panel-button:not(:hover) image,
.zen-sidebar-panel-button:not([selected="true"], #zen-sidebar-add-panel-button) image {
  background: transparent !important;
}

.zen-sidebar-panel-button {
  width: var(--zen-sidebar-action-button-width);
  height: var(--zen-sidebar-action-button-width);
  max-height: var(--zen-sidebar-action-button-width);
  padding: 0 3px !important;
  margin: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.zen-sidebar-panel-button image {
  border-radius: 10px !important;
  background: var(--toolbarbutton-hover-background);
  border: 2px solid transparent;
  transition: background 0.1s ease-in-out;
}

.zen-sidebar-panel-button:hover image {
  background: color-mix(in srgb, var(--toolbarbutton-hover-background) 12%, transparent);
}

.zen-sidebar-panel-button[selected="true"] image {
  border-color: var(--zen-primary-color);
}

/** Sidebar view */

#zen-sidebar-web-panel-wrapper {
  --zen-default-sidebar-width: 300px;
  position: relative;
  height: 100%;
  margin-right: 0;
  display: flex;
  pointer-events: none;
  transition: width 0.3s ease-in-out;
}

#zen-sidebar-web-panel-wrapper:has(#zen-sidebar-web-panel[hidden="true"]) {
  max-width: 0;
  padding: 0;
}

#zen-sidebar-web-panel-wrapper:has(#zen-sidebar-web-panel[pinned="true"]) {
  --zen-sidebar-web-panel-spacing: 10px;
  margin: var(--zen-appcontent-separator-from-window);
  position: absolute;
  z-index: 1;
  width: -moz-available;
  padding: var(--zen-sidebar-web-panel-spacing);
}

#zen-sidebar-web-panel:not([pinned="true"]) {
  --zen-sidebar-web-panel-spacing: calc(10px / 3);
}

#zen-sidebar-web-panel {
  --zen-initial-height: calc(100% - var(--zen-sidebar-web-panel-spacing) * 3);
  border-radius: var(--zen-panel-radius);
  overflow: hidden;
  border: var(--zen-appcontent-border);
  background: var(--zen-colors-tertiary);
  opacity: 0;
  animation-delay: 0.1s;
  flex-direction: column;
  min-width: var(--zen-default-sidebar-width);
  max-width: 720px;
  min-height: var(--zen-default-sidebar-width);
  width: calc(var(--zen-default-sidebar-width) + 200px);
  height: var(--zen-initial-height);
  pointer-events: all;
}

#zen-sidebar-web-panel:not([pinned="true"]) {
  /* We need to always override the height */
  height: var(--zen-initial-height) !important;
}

#zen-sidebar-web-panel-splitter {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 4px;
  background: transparent;
  border: none;
  cursor: ew-resize;
}

#zen-sidebar-web-panel-hsplitter {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 7px;
  background: transparent;
  border: none;
  cursor: ns-resize;
}

#zen-sidebar-web-panel-wrapper[hidden="true"] + #zen-sidebar-web-panel-splitter,
#zen-sidebar-web-panel-wrapper[hidden="true"] + #zen-sidebar-web-panel-hsplitter,
#zen-sidebar-web-panel-wrapper:has(#zen-sidebar-web-panel:not([pinned="true"])) + #zen-sidebar-web-panel-splitter {
  display: none;
}

#zen-sidebar-web-panel:not([pinned="true"]) {
  animation: zen-sidebar-panel-animation 0.3s ease-in-out forwards;
}

#main-window[customizing="true"] #zen-sidebar-web-panel-wrapper {
  display: none !important;
}

#zen-sidebar-web-panel:not([hidden="true"]) {
  display: flex; 
}

#zen-sidebar-web-panel-wrapper {
  margin: 0 10px 10px 0;
}

#zen-sidebar-web-panel[pinned="true"] {
  position: absolute;
  z-index: 1;
  animation: zen-sidebar-panel-animation-2 0.2s ease-in-out forwards;
}

#zen-sidebar-web-panel[hidden="true"][pinned="true"] {
  display: flex;
  pointer-events: none;
  animation: zen-sidebar-panel-animation-reverse 0.2s ease-in-out forwards;
}

@keyframes zen-sidebar-panel-animation {
  0% {
    opacity: 0;
    transform: scale3d(0.9, 0.9, 0.9);
  }

  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes zen-sidebar-panel-animation-2 {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes zen-sidebar-panel-animation-reverse {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  99% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    display: none !important;
  }
}

#zen-sidebar-web-header,
#zen-sidebar-panels-wrapper {
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding: 0 5px;
  border: var(--zen-appcontent-border);
  border-width: 0 !important;
  border-bottom-width: 1px !important;
  background: transparent;
  position: relative;
  color-scheme: var(--toolbar-color-scheme);
  -moz-window-dragging: no-drag;
}

#zen-sidebar-web-header {
  justify-content: space-between;
}

#zen-sidebar-web-header toolbarbutton {
  opacity: 0.7;
}

#zen-sidebar-panels-wrapper {
  border-top-width: 1px !important;
  border-bottom-width: 0px !important;
}

#zen-sidebar-web-panel-browser-containers {
  height: 100%;
  position: relative;
}

#zen-sidebar-web-panel browser[zen-sidebar-id] {
  height: 100%;
}

#zen-sidebar-web-panel-title {
  font-size: 1em;
  font-weight: 600;
  margin: 0 10px;
  padding: 0;
  color: var(--text-color-deemphasized);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: -moz-available;
  text-align: center;
  display: block;
}
