
@import url("zen-panel-ui.css");
@import url("zen-icons/icons.css");

:root {
  --toolbarbutton-border-radius: 6px !important;

  --fp-contextmenu-border-radius: 8px;
  --fp-contextmenu-padding: calc(4px - var(--fp-contextmenu-menuitem-border-width)) 0;
  --fp-contextmenu-menuitem-border-radius: calc(4px + var(--fp-contextmenu-menuitem-border-width));
  --fp-contextmenu-menuitem-padding-block: 6px;
  --fp-contextmenu-menuitem-padding-inline: 10px;
  --fp-contextmenu-menuitem-border-width: 2px;
  --fp-contextmenu-menuicon-margin-inline: 12px;
  --fp-contextmenu-menuitem-margin-inline: calc(4px - var(--fp-contextmenu-menuitem-border-width));
  --fp-contextmenu-menuitem-margin-block: 0px;
  --fp-contextmenu-menuitem-margin: var(--fp-contextmenu-menuitem-margin-block) var(--fp-contextmenu-menuitem-margin-inline);
  --fp-contextmenu-separator-vertical: calc(4px - var(--fp-contextmenu-menuitem-border-width));
  --fp-contextmenu-separator-horizontal: 0;
  --fp-contextmenu-bgcolor: light-dark(Menu, rgb(43 42 51 / 0.95));
  --toolbar-bgcolor: var(--zen-colors-tertiary) !important;

  --input-bgcolor: var(--zen-colors-tertiary) !important;
  --input-border-color: var(--zen-input-border-color) !important;
}

#PersonalToolbar {
  /*border-top: 1px solid light-dark(#ddd, #4a4a4a);*/
  padding: 5px 0;
  padding-inline: 15px !important;
}

/* URL and tool bars */

#urlbar {
  border: 1px solid light-dark(#ddd, #4a4a4a);
  overflow: hidden;
  padding: 1px;
}

#zen-website-and-native-separator {
  background: light-dark(#ddd, #4a4a4a);
  height: 1px;
  width: 100%;
}

#urlbar[focused="true"][breakout-extend="true"] {
  overflow: visible;
}

#urlbar[focused="true"] > #urlbar-background,
#searchbar:focus-within {
  border-color: var(--urlbarView-separator-color) !important;
}

#urlbar[focused="true"] {
  box-shadow: var(--panel-shadow) !important;
}

#urlbar[focused="true"] > #urlbar-background {
  border-radius: 10px !important;
  background: var(--zen-dialog-background) !important;
  border: 1px solid transparent;
}

#urlbar[focused="true"]:not([suppress-focus-border]) > #urlbar-background,
#searchbar:focus-within {
  outline: none !important;
  outline-offset: none !important;
  outline-color: none !important;
}

#urlbar, #urlbar .urlbar-page-action, 
#urlbar #tracking-protection-icon-container,
#urlbar:not([extend="true"]) #identity-box:not(.chromeUI) #identity-icon-box {
  border-radius: 999px;
}

#urlbar #identity-box.chromeUI #identity-icon-box {
  border-radius: 5px !important;
}

#urlbar:not([focused="true"]) #identity-box.chromeUI #identity-icon-box {
  border-radius: 20px 10px 10px 20px !important;
}

#urlbar .urlbar-page-action,
#urlbar #identity-box #identity-icon-box, 
#urlbar #tracking-protection-icon-container {
  margin: 0 1px;
}

#urlbar:not([extend="true"]) #identity-box #identity-icon-box { position: relative;}

/* TODO: this does NOT show up! */
/* #urlbar:not([extend="true"]) #identity-box:not(.chromeUI):not(.localResource) #identity-icon-box::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -5px;
  height: calc(100% - 5px);
  width: 1px;
  background: var(--zen-dialog-border-color);
  transition: .1s;
  transform: translateY(-50%);
} */

#urlbar:not([extend="true"]) #identity-box:not(.chromeUI):not(.localResource) #identity-icon-box {
  margin-right: 5px;
}

#urlbar:not([extend="true"]) #identity-box:not(.chromeUI):not(.localResource) {
  margin-inline-end: 0 !important;
}

.urlbar-page-action {
  width: calc(var(--urlbar-min-height) - 5px - 2 * var(--urlbar-container-padding)) !important;
  height: calc(var(--urlbar-min-height) - 5px - 2 * var(--urlbar-container-padding)) !important;
  padding: 0 !important;
  justify-content: center !important;
  align-items: center !important;
}

.urlbar-page-action:not([hidden="true"]) {
  display: flex !important;
}

toolbar .toolbarbutton-1 {
  & > .toolbarbutton-icon,
  & > .toolbarbutton-badge-stack {
    width: calc(2 * var(--toolbarbutton-inner-padding) + 20px) !important;
    height: calc(2 * var(--toolbarbutton-inner-padding) + 20px) !important;
  }
}

#identity-permission-box {
  margin: 0 5px 0 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

#identity-box:has(#identity-permission-box:is([hasPermissions], [hasSharingIcon])) #identity-icon-box {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  margin-right: 0 !important;
}

#notification-popup-box {
  border-radius: 999px;
  margin-right: 5px;
  transition: .2s;
  height: 100%;
  padding: 7px;
}

button.popup-notification-dropmarker {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.panel-footer:has(button.popup-notification-dropmarker:not([hidden="true"])) button.popup-notification-secondary-button {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.searchbar-engine-one-off-item {
  max-width: 20px;
  min-width: 20px !important;
  justify-content: center;
}

#downloadsHistory {
  margin-top: 5px
}

/* Toolbars customization */

#titlebar {
  height: 100%;
}

#navigator-toolbox {
  min-width: 55px;
}

#navigator-toolbox toolbar#TabsToolbar {
  margin: var(--zen-appcontent-separator-from-window);
  background: var(--sidebar-background-color);
  overflow: hidden;
  transition: .2s;
  border-radius: 15px !important;
  flex-direction: column !important;
  padding: 5px 0;
  margin-right: 0 !important;
  -moz-window-dragging: no-drag;
}

#TabsToolbar-customization-target {
  flex-direction: column;
}

:root[customizing] .customization-target:not(#widget-overflow-fixed-list) {
  min-width: 0 !important;
}

toolbarpaletteitem {
  justify-content: center !important;
}

toolbarbutton#scrollbutton-down,
toolbarbutton#scrollbutton-up {
  display: none !important;
}

#toolbar-menubar {
  display: none;
}

.tab-label-container {
  display: none;
}

.tab-icon-stack > .tab-icon-image,
.tab-icon-stack > .tab-throbber {
  width: var(--zen-browser-tab-icon-size);
  height: var(--zen-browser-tab-icon-size);
  margin-inline-end: 0 !important;
}

.tab-icon-stack .tab-icon-image {
  transform: scale(0.5);
  opacity: 0;
  animation: zen-zoom-in 0.12s ease-in-out 0.3s forwards;
}

@keyframes zen-zoom-in {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.tab-background {
  display: none;
}

.tabbrowser-tab {
  --zen-browser-tab-icon-size: 16px;
  --tab-min-width: 0 !important;
  margin: 3px auto !important;
  border-radius: 50%;
  position: relative;
  color-scheme: var(--tab-selected-color-scheme);
  background: light-dark(#ececec, #4a4a4a);
  border: 1px solid transparent;
  padding: 0 !important;
  align-items: center;
  animation: zen-slide-in 0.3s;
}

.tabbrowser-tab:active {
  transform: scale(0.9);
}

.tab-stack {
  width: 30px !important;
  height: 30px !important;
  min-width: 30px !important;
  min-height: 30px !important;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes zen-slide-in {
  from {
    transform: translateX(-10px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.tabbrowser-tab:not([pinned], [fadein]) {
  display: none;
}

.tabbrowser-tab:is([multiselected="true"], [selected]) {
  border-color: var(--zen-colors-primary);
}

.tab-close-button {
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
}

.tabbrowser-tab:hover .tab-close-button {
  display: none; /* TODO: fix this? or maybe not? */
}

.tab-content {
  padding: 0 !important;
  width: fit-content;
}

.toolbar-items > toolbartabstop:first-child {
  display: none;
}

#tabbrowser-tabs {
  margin-inline-start: 0 !important;
  padding-inline-start: 0 !important;
  border: none !important;
  /*background: light-dark(rgba(0,0,0,.05), rgba(255,255,255,.05));*/
  margin: 0 !important;
  border: none;
}

#tabbrowser-arrowscrollbox {
  margin: 3px 0 !important;
}

#alltabs-button stack {
  transform: rotate(-90deg);
}

.tab-icon-overlay {
  margin-inline-end: 0 !important;
}

#tabbrowser-arrowscrollbox {
  &::part(scrollbox-clip) {
    max-height: 62vh;
  }
}

/* Title bar */

#zen-titlebar-items-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  -moz-window-dragging: drag;
}

.footer-button {
  padding: var(--zen-button-padding) !important;
  border-radius: var(--zen-button-border-radius) !important;
}

.footer-button:not([default], .primary) {
  color: var(--zen-secondary-btn-color) !important;
}

.footer-button:is([default], .primary) {
  --focus-outline-color: var(--zen-primary-btn-color) !important;
}

menuseparator {
  --panel-separator-color: var(--zen-colors-secondary) !important;
}

/** Specific dialogs override */

#identity-popup-multiView toolbarseparator,
#editBookmarkHeaderSeparator {
  display: none;
}

#identity-popup-more-info-footer toolbarseparator {
  display: block;
}

#editBMPanel_foldersExpander {
  display: none;
}

#editBookmarkPanelContent > label:not(.editBMPanel_nameRow) {
  padding-top: 5px;
}

panelmultiview {
  display: flex;
  flex-direction: column;
  align-items: center;
}
