
:root {
  --zen-settings-secondary-background: light-dark(#F2F4F4, color-mix(in srgb, var(--zen-primary-color) 10%, black 90%));
}

.main-content {
  background: var(--zen-settings-secondary-background);
  padding-left: 100px;
  padding-top: 40px !important;
}

groupbox {
  background: light-dark(white, color-mix(in srgb, var(--zen-primary-color) 10%, #1b1b1b 90%));
  padding-inline: unset !important;
  padding: 20px 30px !important;
  margin-bottom: 0 !important;
  position: relative;
}

.subcategory + groupbox {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 5px;
}

groupbox:has(+ script),
groupbox:last-of-type,
groupbox:has(+ .subcategory) {
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

.sticky-inner-container{
  display: none !important;
}

.subcategory  {
  border-top: none !important;
}

.navigation {
  padding: 50px;
}

groupbox button {
  border-radius: 5px !important;
  padding: 5px 10px !important;
}

groupbox button,
groupbox menulist {
  background-color: light-dark(#f1f1f1, #363636) !important;
  color: light-dark(black, white) !important;
}

groupbox h2 {
  opacity: .7;
  font-size: 15px;
}

#categories {
  margin: 0 !important;
}

#categories > .category {
  margin-left: 0 !important;
  min-height: 40px !important;
  position: relative;
  padding-inline: 20px !important;

}

#categories > .category[selected]::before {
  content: "";
  display: block;
  height: 70%;
  width: 5px;
  background-color: var(--zen-primary-color);
  position: absolute;
  left: -3px;
  border-radius: 5px;
}

#languagesGroup::before {
  content: "";
  display: block;
  height: 1px;
  background-color: light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  margin: 10px 0;
  transform: translateY(-50%);
  position: absolute;
  top: -5px;
  width: calc(100% - 40px);
  margin-left: 20px;
  left: 0;
}

#searchInput {
  width: 100% !important;
  border: none;
  outline: none;
  min-height: 40px;
  border-radius: 10px;
  background: light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  padding-inline: 15px;
}

.textbox-search-sign {
  margin-right: 15px;
}

.sidebar-footer-list {
  margin-left: 0 !important;
}

.category-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* Look and feel */

#category-zen-looks > .category-icon {
  list-style-image: url("chrome://browser/skin/customize.svg");
}

#zenLooksAndFeelColorOptions {
  display: grid;
  grid-template-columns: repeat(auto-fill, 108px);
  gap: 5px;
  margin: 10px 0 15px 0;
}

.zenLooksAndFeelColorOptionParen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  background: var(--in-content-box-info-background);
  width: fit-content;
  margin-top: 10px;
  border: 2px solid transparent;
}

.zenLooksAndFeelColorOptionParen[selected="true"] {
  border-color: var(--zen-primary-color);
}

.zenLooksAndFeelColorOption {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--zen-primary-color);
  position: relative;
  overflow: hidden;
}

.zenLooksAndFeelColorOption::before {
  content: "";
  display: block;
  width: 50%;
  height: 50%;
  bottom: 0;
  left: 0;
  position: absolute;
  background: var(--zen-colors-secondary);
}

.zenLooksAndFeelColorOption::after {
  content: "";
  display: block;
  width: 50%;
  height: 50%;
  bottom: 0;
  right: 0;
  position: absolute;
  background: var(--zen-colors-tertiary);
}
