/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

:root {
  --zen-settings-secondary-background: light-dark(#f2f4f4, color-mix(in srgb, var(--zen-colors-tertiary) 50%, #0f0f0f 50%));
}

.main-content {
  background: var(--zen-settings-secondary-background);
  padding-top: 60px !important;
}

.pane-container {
  margin: auto;
}

description {
  margin-top: 0 !important;
}

groupbox {
  background: light-dark(white, color-mix(in srgb, var(--zen-primary-color) 2%, #1b1b1b 98%));
  padding-inline: unset !important;
  padding: 20px 30px !important;
  margin-bottom: 0 !important;
  position: relative;

  /* add shadow just to the sides */
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.subcategory + groupbox,
#noFxaAccount,
#hasFxaAccount {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 5px;
}

groupbox:has(+ script),
groupbox:last-of-type,
groupbox#pane-experimental-featureGates,
groupbox:has(+ .subcategory) {
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  /* add shadow just to bottom */
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.sticky-inner-container {
  display: none !important;
}

.subcategory {
  border-top: none !important;
}

.navigation {
  padding: 4%;
  background: var(--zen-colors-tertiary);
}

groupbox button {
  border-radius: 5px !important;
}

groupbox button,
groupbox menulist {
  background-color: light-dark(#f1f1f1, #363636) !important;
  color: light-dark(black, white) !important;
}

groupbox h2 {
  opacity: 0.7;
  font-size: 15px;
}

#categories {
  margin: 0 !important;
}

#categories > .category {
  margin-left: 0 !important;
  min-height: 40px !important;
  position: relative;
  padding-inline: 20px !important;
}

#categories > .category[selected]::before {
  content: '';
  display: block;
  height: 70%;
  width: 5px;
  background-color: var(--zen-primary-color);
  position: absolute;
  left: -3px;
  border-radius: 5px;
}

#languagesGroup::before {
  content: '';
  display: block;
  height: 1px;
  background-color: light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  margin: 10px 0;
  transform: translateY(-50%);
  position: absolute;
  top: -5px;
  width: calc(100% - 40px);
  margin-left: 20px;
  left: 0;
}

#searchInput {
  width: 100% !important;
  border: none;
  outline: none;
  min-height: 40px;
  border-radius: 10px;
  background: light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  padding-inline: 15px;
}

.textbox-search-sign {
  margin-right: 15px;
}

.sidebar-footer-list {
  margin-left: 0 !important;
}

.category-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* Look and feel */

#webAppearanceSettings,
#zen-theme-builder-wrapper + box {
  margin-bottom: 15px;
}

#zen-dark-theme-styles-form {
  display: flex;
  justify-content: space-between;
  gap: var(--space-large);
  margin-top: 5px;
}

#zen-expand-tabbar-strat {
  display: flex;
  flex-direction: column;
}

#zen-expand-tabbar-strat > hbox {
  margin-top: 10px;
}

#category-zen-looks > .category-icon {
  list-style-image: url('chrome://browser/skin/customize.svg');
}

#zenLooksAndFeelColorOptions {
  display: grid;
  grid-template-columns: repeat(auto-fill, 108px);
  gap: 5px;
  margin: 10px 0 15px 0;
}

.zenLooksAndFeelColorOptionParen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  background: var(--in-content-box-info-background);
  width: fit-content;
  margin-top: 10px;
  border: 2px solid transparent;
}

.zenLooksAndFeelColorOptionParen[selected='true'] {
  border-color: var(--zen-primary-color);
}

.zenLooksAndFeelColorOption {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--zen-primary-color);
  position: relative;
  overflow: hidden;
}

.zenLooksAndFeelColorOption::before {
  content: '';
  display: block;
  width: 50%;
  height: 50%;
  bottom: 0;
  left: 0;
  position: absolute;
  background: var(--zen-colors-secondary);
}

.zenLooksAndFeelColorOption::after {
  content: '';
  display: block;
  width: 50%;
  height: 50%;
  bottom: 0;
  right: 0;
  position: absolute;
  background: var(--zen-colors-tertiary);
}

/* Workspace */

#category-zen-workspaces > .category-icon {
  list-style-image: url('chrome://browser/skin/window.svg');
}

/* CKS */

#category-zen-CKS > .category-icon {
  list-style-image: url('chrome://browser/skin/quickactions.svg');
}

.zenCKSOption-input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--zen-colors-border);
  margin-left: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 40%;
  user-select: none;
  cursor: text;
  background: transparent;
}

.zenCKSOption {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.zenCKSOption > label {
  font-size: 14px;
  color: light-dark(rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.zenCKSOption-input.zenCKSOption-input-not-set {
  color: light-dark(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.3));
}

.zenCKSOption-input.zenCKSOption-input-editing {
  border-color: transparent;
  box-shadow: 0 0 0 2px var(--zen-primary-color);
}

.zenCKSOption-input.zenCKSOption-input-invalid {
  border-color: red;
}

#zenCKSOptions-wrapper > [data-group]:not(:first-of-type) {
  border-top: 1px solid light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  padding-top: 10px;
}

/* Theme builder */

#zen-theme-builder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  background: var(--zen-colors-tertiary);
  border-radius: 10px;
  margin-bottom: 10px;
}

#zen-theme-builder-color-picker {
  width: 180px;
  height: 180px;
  border-radius: 10px;
  margin-right: 10px;
  position: relative;
}

#zen-theme-builder-color-picker-canvas {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

#zen-theme-builder-color-picker-deck {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 10px;
  margin: 10px;
  background: light-dark(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3));
  backdrop-filter: blur(15px);
  border: 2px solid light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
}

#zen-theme-builder-color-picker-thumb {
  position: absolute;
  top: 0;
  left: 0;
  border: 4px solid light-dark(white, black);
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background: var(--zen-primary-color);
  transform: translate(-50%, -50%);
}

/* THemes marketplace */

#category-zen-marketplace > .category-icon {
  list-style-image: url('chrome://mozapps/skin/extensions/category-themes.svg');
}

.zenThemeMarketplaceItem {
  width: 100%;

  &:not(:first-of-type),
  .zenThemeMarketplaceItemPreferences {
    margin-top: 15px;
  }
}

.zenThemeMarketplaceItemPreferenceCheckbox {
  margin-right: 10px;
}

.zenThemeMarketplaceItemPreference:not(:last-of-type) {
  margin-bottom: 10px;
}

.zenThemeMarketplaceItemPreferenceData > * {
  margin: 0;
}

#zenThemeMarketplaceList:has(> *) {
  margin: 15px 0;
}

.zenThemeMarketplaceItemUninstallButton {
  margin-left: auto;
}

#zenThemeMarketplaceCheckForUpdates {
  margin-left: auto;
}

/* Disable mozilla's settings */

#dataCollectionCategory,
#dataCollectionGroup,
#websiteAdvertisingCategory,
#websiteAdvertisingGroup {
  display: none !important;
}
