/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

/* Bookmarks sidebar */
#zen-tabbox-wrapper {
  & #sidebar-splitter {
    opacity: 0;
    margin: 0 calc(-1 * var(--zen-element-separation) + 2px);
  }

  & #sidebar-box {
    border-radius: var(--zen-native-inner-radius);
    box-shadow: var(--zen-big-shadow);
    overflow: hidden;

    :root:not([zen-right-side='true']) &[positionend='true'] {
      margin-right: var(--zen-element-separation);
    }

    :root[zen-right-side='true'] & {
      margin-left: var(--zen-element-separation);
    }
  }

  & #tabbrowser-tabbox[sidebar-positionend] {
    & #sidebar-box {
      order: 8 !important;
    }

    & #sidebar-splitter {
      order: 7 !important;
    }
  }
}

/* Menubar */
#toolbar-menubar {
  display: none !important;
}
