/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

#zen-overflow-extensions-list {
  display: none;

  :root[zen-single-toolbar="true"] &:not(:empty) {
    --uei-icon-size: 14px;
    display: grid;
    gap: 8px;
    padding: 8px 2px;
    padding-bottom: 0;
    border-radius: calc(var(--border-radius-medium) - 4px);
    grid-template-columns: repeat(auto-fit, minmax(32px, 1fr));

    & .unified-extensions-item {
      flex: 1;
      margin: 0;
    }

    & .toolbarbutton-badge-stack {
      margin: 0;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
    }

    & .unified-extensions-item-action-button {
      appearance: none;
      background-color: var(--zen-toolbar-element-bg);
      height: 26px;
      margin: 0;
      justify-content: center;
      align-items: center;
      border-radius: calc(var(--border-radius-medium) - 2px);
      overflow: clip;
      padding: 0;

      &:hover {
        background-color: var(--zen-toolbar-element-bg-hover);
      }
    }

    .unified-extensions-item-contents,
    .unified-extensions-item-menu-button,
    unified-extensions-item-messagebar-wrapper {
      display: none;
    }
  }
}
