/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

:host {
  background: color-mix(in srgb, var(--zen-primary-color) 15%, light-dark(white, black));
  display: flex;
  min-width: 0;
}
