
@import url("zen-common-shared-ui-override.css");

:host(:is(.anonymous-content-host, notification-message)),
:root,
.zenLooksAndFeelColorOption {

  /** We also add `.zenLooksAndFeelColorOption` so that it recalculates the colors when the theme changes
   * in the preferences page.
   */

  /** Primary colors examples:
   * - green: #96D785;
   * - blue: #0b57d0;
   * - yellow: #F8BC48;
   */

  /** Primary color will be injected by the theme as `--zen-primary-color` */
  --zen-primary-color: #aac7ff; /* This is the default blue color, in case the theme doesn't provide a primary color */

  /** Zen colors are generated automatically from the primary color */
  --zen-colors-primary: color-mix(in srgb, var(--zen-primary-color) 50%, black 50%);
  --zen-colors-secondary: color-mix(in srgb, var(--zen-primary-color) 40%, white 60%);
  --zen-colors-tertiary: color-mix(in srgb, var(--zen-primary-color) 7%, white 93%);

  --zen-colors-hover-bg: color-mix(in srgb, var(--zen-primary-color) 90%, white 10%);
  --zen-colors-primary-foreground: color-mix(in srgb, var(--zen-primary-color) 80%, black 20%);
  --zen-colors-border: color-mix(in srgb, var(--zen-colors-secondary) 40%, black 60%);

  --zen-colors-input-bg: color-mix(in srgb, var(--zen-primary-color) 10%, white 80%);

  --zen-dialog-background: var(--zen-colors-tertiary);
  --zen-urlbar-background: color-mix(in srgb, var(--zen-primary-color) 8%, #f1f1f1 92%);

  --in-content-primary-button-background: var(--zen-primary-color) !important;          
  --in-content-primary-button-background-hover: var(--zen-colors-hover-bg) !important;
  --in-content-primary-button-background-active: var(--zen-colors-hover-bg) !important;
  --in-content-primary-button-text-color: light-dark(white, black) !important;
  --in-content-primary-button-border-color: transparent !important;
  --in-content-primary-button-border-hover: transparent !important;
  --in-content-primary-button-border-active: var(--zen-colors-border) !important;
  --zen-characteristic-gradient: linear-gradient(135deg, #fac89a 0%, #e290ff 100%);

  --in-content-accent-color: var(--zen-colors-primary) !important;

  /* This is like the secondary button */
  --in-content-button-background: var(--zen-colors-secondary) !important;
  --button-bgcolor: var(--in-content-button-background) !important;
  --zen-secondary-btn-color: var(--zen-colors-primary-foreground);
  --focus-outline-color: var(--button-bgcolor) !important;
  --in-content-button-text-color: var(--zen-secondary-btn-color) !important;

  --button-primary-bgcolor: var(--in-content-primary-button-background) !important;
  --button-primary-hover-bgcolor: var(--in-content-primary-button-background-hover) !important;
  --button-primary-active-bgcolor: var(--in-content-primary-button-background-active) !important;
  --button-primary-color: var(--in-content-primary-button-text-color) !important;

  --in-content-page-background: var(--zen-colors-tertiary) !important;
  --zen-in-content-dialog-background: var(--zen-colors-tertiary);

  --zen-button-border-radius: 999px;
  --zen-button-padding: 0.9em 2.3em;

  /* Other colors */
  --urlbar-box-bgcolor: light-dark(white, rgb(66, 65, 77)) !important;
  --zen-input-border-color: light-dark(rgb(204, 204, 204), rgb(66, 65, 77)) !important;

  /* TODO: Support dark themes! */
}

@media (prefers-color-scheme: dark) {
  :host(:is(.anonymous-content-host, notification-message)),
  :root {
    --in-content-primary-button-background: #fff !important;             
    --in-content-primary-button-background-hover: #f5f5f5 !important;
    --in-content-primary-button-background-active: #e0e0e0 !important;
    --in-content-primary-button-border-color: transparent !important;
    --in-content-primary-button-border-hover: transparent !important;
    --in-content-primary-button-border-active: transparent !important;
    --in-content-primary-button-text-color: #000 !important;
    --in-content-primary-button-text-color-hover: #000 !important;

    --in-content-page-background: #2B2A33 !important;
    --zen-in-content-dialog-background: rgb(28, 28, 32);
  }
}

window#commonDialogWindow {
  background-color: var(--zen-in-content-dialog-background) !important;
}

