
@import url("zen-common-shared-ui-override.css");

:host(:is(.anonymous-content-host, notification-message)),
:root,
.zenLooksAndFeelColorOption {

  /** We also add `.zenLooksAndFeelColorOption` so that it recalculates the colors when the theme changes
   * in the preferences page.
   */

  /** Primary colors examples:
   * - green: #96D785;
   * - blue: #0b57d0;
   * - yellow: #F8BC48;
   */

  /** Primary color will be injected by the theme as `--zen-primary-color` */
  --zen-primary-color: #aac7ff; /* This is the default blue color, in case the theme doesn't provide a primary color */

  /** Zen colors are generated automatically from the primary color */
  --zen-colors-primary: color-mix(in srgb, var(--zen-primary-color) 50%, black 50%);
  --zen-colors-secondary: color-mix(in srgb, var(--zen-primary-color) 40%, white 60%);
  --zen-colors-tertiary: color-mix(in srgb, var(--zen-primary-color) 7%, white 93%);

  --zen-colors-hover-bg: color-mix(in srgb, var(--zen-primary-color) 90%, white 10%);
  --zen-colors-primary-foreground: color-mix(in srgb, var(--zen-primary-color) 80%, black 20%);
  --zen-colors-border: color-mix(in srgb, var(--zen-colors-secondary) 70%, black 30%);

  --zen-colors-input-bg: color-mix(in srgb, var(--zen-primary-color) 10%, white 80%);

  --zen-dialog-background: var(--zen-colors-tertiary);
  --zen-urlbar-background: color-mix(in srgb, var(--zen-primary-color) 8%, #f1f1f1 92%);

  --in-content-primary-button-background: light-dark(
    color-mix(in srgb, var(--zen-primary-color) 35%, black 65%),
    color-mix(in srgb, var(--zen-primary-color) 35%, white 65%)
  ) !important;          
  --in-content-primary-button-background-hover: light-dark(
    color-mix(in srgb, var(--zen-primary-color) 40%, black 60%),
    color-mix(in srgb, var(--zen-primary-color) 40%, white 60%)
  ) !important;
  --in-content-primary-button-background-active: var(--zen-colors-hover-bg) !important;
  --in-content-primary-button-text-color: light-dark(white, black) !important;
  --in-content-primary-button-border-color: transparent !important;
  --in-content-primary-button-border-hover: transparent !important;
  --in-content-primary-button-border-active: var(--zen-colors-border) !important;
  --zen-characteristic-gradient: linear-gradient(135deg, #fac89a 0%, #e290ff 100%);

  --in-content-accent-color: var(--zen-colors-primary) !important;

  /* This is like the secondary button */
  --in-content-button-background: light-dark(
    color-mix(in srgb, var(--zen-primary-color) 20%, transparent 80%),
    color-mix(in srgb, var(--zen-primary-color) 10%, transparent 90%)
  ) !important;
  --in-content-button-background-hover: light-dark(
    color-mix(in srgb, var(--zen-primary-color) 25%, transparent 75%),
    color-mix(in srgb, var(--zen-primary-color) 15%, transparent 85%)
  ) !important;
  --button-bgcolor: var(--in-content-button-background) !important;
  --button-hover-bgcolor: var(--in-content-button-background-hover) !important;   
  --zen-secondary-btn-color: var(--zen-colors-primary-foreground);
  --focus-outline-color: var(--button-bgcolor) !important;
  --in-content-button-text-color: var(--zen-secondary-btn-color) !important;

  --toolbarbutton-icon-fill-attention: var(--zen-primary-color) !important;

  --button-primary-bgcolor: var(--in-content-primary-button-background) !important;
  --button-primary-hover-bgcolor: var(--in-content-primary-button-background-hover) !important;
  --button-primary-active-bgcolor: var(--in-content-primary-button-background-active) !important;
  --button-primary-color: var(--in-content-primary-button-text-color) !important;

  --in-content-page-background: var(--zen-colors-tertiary) !important;
  --zen-in-content-dialog-background: var(--zen-colors-tertiary);

  --zen-button-border-radius: 6px;
  --zen-button-padding: .6rem 1.2rem;

  /* Other colors */
  --urlbar-box-bgcolor: light-dark(white, rgb(66, 65, 77)) !important;
  --zen-input-border-color: light-dark(rgb(204, 204, 204), rgb(66, 65, 77)) !important;

  --zen-browser-gradient-base: color-mix(in srgb, var(--zen-primary-color) 50%, white 50%);

  /* TODO: Support dark themes! */
}

@media (prefers-color-scheme: dark) {
  :host(:is(.anonymous-content-host, notification-message)),
  :root {
    --zen-in-content-dialog-background: rgb(28, 28, 32);

    --zen-colors-primary: color-mix(in srgb, var(--zen-primary-color) 50%, black 50%);
    --zen-colors-secondary: color-mix(in srgb, var(--zen-primary-color) 40%, black 60%);
    --zen-colors-tertiary: color-mix(in srgb, var(--zen-primary-color) 15%, black 85%);
  
    --zen-colors-hover-bg: color-mix(in srgb, var(--zen-primary-color) 90%, black 10%);
    --zen-colors-primary-foreground: color-mix(in srgb, var(--zen-primary-color) 80%, white 20%);
  
    --zen-colors-input-bg: color-mix(in srgb, var(--zen-primary-color) 10%, black 80%);
    --zen-colors-border: color-mix(in srgb, var(--zen-colors-secondary) 80%, black 20%);
  
    --zen-dialog-background: color-mix(in srgb, var(--zen-primary-color) 10%, black 90%);
    --zen-urlbar-background: color-mix(in srgb, var(--zen-primary-color) 8%, black 92%); 

    --zen-browser-gradient-base: color-mix(in srgb, var(--zen-primary-color) 30%, black 70%);
  }
}

window#commonDialogWindow {
  background-color: var(--zen-in-content-dialog-background) !important;
}

